/* Presented the new KAC SR15 */
.title-v1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: $color-white;
}

/* Top builds, Trending now, Top blogposts, Rifle, Shotgun, Handgun */
.title-v2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
}

/* Remington 700 Rebuild */
.title-v3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}

/* builds */
.title-v4 {
  font-size: 20px;
  line-height: 24px; // identical to box height
  color: $color-white;
  opacity: 0.25;
}

/* Forums */
.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; // identical to box height
}

// .section__title { margin-bottom: 30px; }
