/* Presented the new KAC SR15 */
.title-v1 {
  font-family: 'Rogan';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  color: #ffffff;
}

/* Top builds */
.title-v2 {
  font-family: 'Rogan';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;

  color: #000000;
}

/* Forums */
.section-title {
  font-family: 'Rogan';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px; /* identical to box height */

  color: #000000;
}
