:root {
  --main-font: 'Rogan';
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

$color-accent: #198ccd; // blue
$color-brand: #263238; // black-dark blue

$color-social-icon: #c9cccd;

$color-black: #000000; // black
$color-white: #ffffff; // black

$color-grey-darker: #1f292f; // darker grey
$color-grey-dark: #4d5a63; // dark blue
$color-grey: #666666; // dark grey
$color-dark-red: #c41616; // dark red
$color-golden: #e1cd18; // golden
$color-green: #7abf51; // green

$color-border: #313c42;
$color-slider-btn: #4c585f;
$color-comments-count: #e5e5e5;
$color-comments-posted-review: #444444;
$color-comments-posted-date: #999999;

$color-title-v2-red: #f34236;
$color-title-v2-green: #059664;
$color-title-v2-blue: #148dcc;

// right-side
$searchbuilds-block-width: 0.23166666666666666666666666666667;

$gap: 30px;
// page-build
$build__main-width: 0.744166;
$build__aside-width: 0.23166;
$build-gap: 30px;

// page-profile-gap
$page-profile-gap: 25px;
$page-profile-content-width: 0.735;
$page-profile-friends-block-width: 0.73583333333333333333333333333333;
