html {
  height: 100vh;
  overflow-y: scroll;

  &.no-scroll {
    overflow-y: hidden; /* STOP MOVING AROUND! */
  }
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;

  // width: 100% !important;
  // overflow-x: hidden !important;
  margin: 0;

  font-family: var(--main-font), sans-serif;
  color: $color-black;

  overflow-y: scroll;
  &.no-scroll {
    overflow-y: hidden; /* STOP MOVING AROUND! */
  }
}
