.page-html {
  min-height: 100%;
  overflow-y: scroll;

  &.no-scroll {
    overflow-y: hidden; // STOP MOVING AROUND!
  }
}

body {
  position: relative;
  min-height: 100%;

  margin: 0;

  font-family: var(--main-font), sans-serif;
  color: $color-black;

  &.no-scroll {
    overflow-y: scroll;
  }
}
