.container {
  padding-right: $padding;
  padding-left: $padding;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: $container;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 405px;
    margin: 0 auto;
  }
}
