// .trending-now { }
.title-wrapper {
  margin-bottom: 30px;
}
.trending-now__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .trending-now__title { }

// .trending-now__view-all { }
/* View all */
.view-all {
  font-size: 18px;
  line-height: 22px; /* identical to box height */

  color: $color-black;
  border-bottom: 1px solid rgba($color-black, 0.1);

  @include transition;
  transition-property: color;

  &:focus,
  &:hover {
    color: $color-accent;
  }
}

.trending-now__list {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
}

.trending-now__item {
  flex-basis: calc(((100% - 3 * #{$gap}) / 4));

  border: 1px solid rgba($color-black, 0.05);
}

.trending-now__link {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 30px;

  @include transition;
  transition-property: box-shadow;

  &:focus,
  &:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
  }
}

.trending-now__thumb {
  min-width: 40px;
  max-width: 40px;
  margin-bottom: 25px;
}

.trending-now__author-avatar {
  border-radius: 4px; // width: 40px; height: 40px;
}

/* 10 Tips for Choosing a Concealed Carry Handgun */
.trending-now__post-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3; /* or 23px */
  color: $color-black;

  @include transition;
  transition-property: color;

  .trending-now__link:focus &,
  .trending-now__link:hover & {
    color: $color-accent;
  }
}

/* troz, today */
.trending-now__post-meta {
  font-size: 14px;
  line-height: 17px; /* identical to box height */
  color: rgba($color-black, 0.5);
}

.top-blogposts__title-wrapper {
  margin-bottom: 30px;
}

// .top-blogposts__title {}
.top-blogposts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 43px;
}

.top-blogposts__item {
  flex-basis: calc((100% - 2 * 43px) / 3);
}

.top-blogposts__link {
  display: flex;
  width: 100%;
  height: 100%;

  @include transition;
  transition-property: box-shadow;

  &:focus,
  &:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
  }
}

.top-blogposts__thumb {
  min-width: 160px;
  contain: content;
  overflow: hidden;
}

.top-blogposts__image {
  width: 100%;
  height: auto;
}

.top-blogposts-meta {
  padding: 12px 0 12px 19px;
  word-break: break-word;
}

.post {
  display: flex;
}

/* Rifle */
.top-blogposts__post-type {
  display: inline-block;

  margin-bottom: 20px;

  font-size: 18px;
  line-height: 22px;
  color: $color-black;

  border-bottom: 1px solid rgba($color-black, 0.1);

  @include transition;
  transition-property: color;

  .top-blogposts__link:focus &,
  .top-blogposts__link:hover & {
    color: $color-accent;
  }
}

/* Izhmash officially presented the new AK-12 */
.top-blogposts__post-title {
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: $color-black;

  @include transition;
  transition-property: color;

  .top-blogposts__link:focus &,
  .top-blogposts__link:hover & {
    color: $color-accent;
  }
}

/* troz */
.post__author-name {
  margin-right: 10px;

  font-size: 14px;
  line-height: 17px;
  color: rgba($color-black, 0.5);
  white-space: nowrap;
}

.post__views {
  display: inline-flex;
  align-items: center;

  margin-right: 10px;
}

/* 12, 5 */
.post__views-count,
.post__comments-count {
  font-size: 14px;
  line-height: 17px;
  color: $color-black;
  white-space: nowrap;
}

.post__views-svg,
.post__comments-svg {
  margin-right: 5px;
}

.post__comments {
  display: inline-flex;
  align-items: center;
}

// .guns {}
// .rifle {}
// .shotgun {}
// .handgun {}

.guns__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;
}

// .guns__title {}

.rifle__title {
  color: $color-title-v2-red;
}
.shotgun__title {
  color: $color-title-v2-green;
}
.handgun__title {
  color: $color-title-v2-blue;
}

.guns__list {
  display: flex;
  gap: $gap;
  flex-wrap: wrap;
}

.guns__item {
  flex-basis: calc((100% - 3 * #{$gap}) / 4);
}

.guns__link {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  @include transition;
  transition-property: box-shadow;

  &:focus,
  &:hover {
    box-shadow: 0 0 35px rgba($color-black, 0.05);
  }
}

.guns__thumb {
  min-width: 277px;
  max-width: 300px;
}
// .rifle__thumb {}

.guns__post-title {
  margin-bottom: 5px;

  @include transition;
  transition-property: color;

  .guns__link:focus &,
  .guns__link:hover & {
    color: $color-accent;
  }
}

.guns__post-meta {
  display: flex;
  align-items: center;
}

.guns__image {
  max-width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.guns__avatar-thumb {
  min-width: 25px;
  max-width: 25px;
  margin-right: 10px;
}

.guns__author-avatar {
  border-radius: 4px;
}

/* troz */
.guns__author-name {
  margin-right: 10px;

  font-size: 14px;
  line-height: 17px;
  color: rgba($color-black, 0.5);
}

.guns__post {
  margin-bottom: 15px;
}

.guns__build {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.guns__build-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;

  border: 1px solid rgba(25, 140, 205, 0.25);
  border-radius: 2px;
}

/* Remington */
.guns__build-tag {
  font-size: 14px;
  line-height: 17px;
}

.guns__slider-list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.guns__slider-item {
}

.guns__slider-button {
  appearance: none;
  border: none;
  background: $color-slider-btn;
  width: 6px;
  height: 6px;

  background: rgba($color-slider-btn, 0.2);

  &.active {
    background: $color-slider-btn;
  }
}

// up to tablet
@media screen and (max-width: 767px) {
  .guns__container {
    contain: content;
    padding-right: 0;
    padding-left: 0;
  }

  .title-wrapper {
    margin-bottom: 25px;
    display: block;
  }

  // .guns__title {}

  .guns__list {
    margin-bottom: 25px;
  }

  .guns__item {
    min-width: 100%;
  }

  .guns__thumb {
    max-width: 375px;
  }
  .guns__image {
    width: 100%;
    height: auto;
  }

  .guns__title-wrapper,
  .guns__build,
  .guns__post {
    padding-left: 15px;
    padding-right: 15px;
  }
  .guns__title-wrapper {
    gap: 15px;
  }

  .guns__list,
  .trending-now__list,
  .guns__slider-list {
    contain: content;
    flex-wrap: nowrap;
  }

  .trending-now__list,
  .top-blogposts__list {
    overflow-x: auto;
  }

  .trending-now__container {
    padding-right: 0;
  }

  .trending-now__title {
    margin-bottom: 15px;
  }

  .trending-now__list {
    gap: 20px;
    padding-right: $padding;
  }

  .trending-now__item {
    width: 100%;
    flex-grow: 1;
    min-width: 325px;
  }

  .top-blogposts__container {
    padding-right: 0;
  }
  .top-blogposts__title-wrapper {
    margin-bottom: 20px;
  }
  .top-blogposts__list {
    gap: 20px;
    flex-wrap: nowrap;
    padding-right: $padding;
  }
  .top-blogposts__item {
    min-width: 325px;
    width: 100%;
  }
}

// from Tablet
// @media screen and (min-width: 768px) { }

// from Tablet to desktop
@media screen and(min-width: 768px) and(max-width: 1199px) {
  .top-blogposts__item {
    flex-basis: calc((100% - 2 * 5px) / 3);
  }

  .top-blogposts__post-title {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .top-blogposts__thumb {
    min-width: 200px;
    width: 200px;
  }
  .top-blogposts-meta {
    padding: 32px 0 32px 25px;
  }
}
