/* Add build */
.profile__add-build-button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 35px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: $color-accent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.profile__add-build-button-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.profile-builds__title-wrapper {
  margin-bottom: 20px;
}
.profile-builds__searchbuilds__pagin {
  margin-top: 50px;
}

.profile-builds__toolbar-overlay {
  position: absolute;
  top: 0;
  left: 0;

  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  pointer-events: none;
  visibility: hidden;
  opacity: 0.01;

  background-color: rgba($color-black, 0.5);

  @include transition;
  transition-property: visibility, opacity;

  .profile-builds__item:focus-within &,
  .profile-builds__item:hover &,
  .profile-builds__btn:focus &,
  .profile-builds__btn:hover & {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}

.profile-builds__toolbar-btn {
  appearance: none;
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  color: $color-white;

  border: 1px solid rgba($color-white, 0.25);
  border-radius: 4px;
}
