.page-add-build__title {
  margin-bottom: 40px;
}

.page-add-build__container {
  max-width: 811px;
  margin: 0 auto;
}

.page-add-build__form {
  padding-bottom: 40px;
}

.page-add-build__form-group {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba($color-black, 0.05);
}

.breadcrumbs__list {
  counter-reset: breadcrumbs__item;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;

  padding: 21px 43px;
  margin-bottom: 60px;

  background: $color-white;
  box-shadow: 0 0 35px rgba($color-black, 0.05);
}

.breadcrumbs__item {
  counter-increment: breadcrumbs__item;

  display: flex;
  align-items: center;
  gap: 35px;
}

/* bx:bxs-down-arrow */
.breadcrumbs__next-page-arrow-svg {
  display: inline-flex;
  align-items: center;

  width: 8px;
  height: 8px;

  opacity: 0.25;
  transform: rotate(-90deg);

  .breadcrumbs__item:last-child & {
    display: none;
  }
}

.breadcrumbs__btn {
  appearance: none;

  display: inline-flex;
  align-items: center;

  gap: 15px;

  background: none;
  border: none;

  &:before {
    content: counter(breadcrumbs__item);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 26px;
    min-height: 26px;
    padding: 5px 9px;

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #999;

    background: #f5f5f5;
    border-radius: 4px;

    .breadcrumbs__item.filled &,
    .breadcrumbs__item.current & {
      display: none;
    }
  }
}

/* Main features */
.breadcrumbs__btn-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $color-black;

  .breadcrumbs__item.current & {
    color: $color-accent;
  }

  // .filled { }

  /* Build parts */
  .breadcrumbs__item.inactive & {
    color: $color-comments-posted-date;
  }
}

.page-add-build__breadcrumbs-svg {
  width: 26px;
  height: 26px;
  border-radius: 4px;
}

.icon-checkbox-checked {
  color: $color-green;

  .breadcrumbs__item.current &,
  .breadcrumbs__item.inactive & {
    display: none;
  }
}

.icon-dot-in-box {
  color: $color-accent;

  .breadcrumbs__item.filled &,
  .breadcrumbs__item.inactive & {
    display: none;
  }
}

.page-add-build__subtitle {
  margin-bottom: 50px;
}

/* Build name */
.page-add-build__label,
.page-add-build__label-radio-group {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.page-add-build__label-radio-group {
  gap: 0;
  margin-bottom: 20px;
}

.page-add-build__label-text {
}

/* New Budget rifles from armalite */
.page-add-build__input {
  font-size: 14px;
  line-height: 17px;
  color: #000000;

  padding: 21px 22px 22px;

  background-color: $color-white;
  border: 1px solid rgba($color-black, 0.05);
  box-sizing: border-box;
  border-radius: 4px;

  &:disabled {
    // color: # 000000;
  }
}

.page-add-build__type-list {
  padding: 10px 15px;

  background: $color-white;
  box-shadow: 0 0 35px rgba($color-black, 0.05);
  border-radius: 4px;
}

.page-add-build__type-item {
  max-width: 240px;
  max-height: 40px;
}

.page-add-build__label-radio {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 4px;
}

.page-add-build__input-radio {
  position: absolute;
  appearance: none;

  pointer-events: none;
  opacity: 0;
}

/* Rifle */
.page-add-build__label-radio-text {
  width: 100%;
  height: 100%;

  text-align: center;

  padding: 9px 15px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  border-radius: 4px;

  @include transition;
  transition-property: transform, background-color;

  .page-add-build__input-radio:checked + & {
    background-color: $color-position-counter;
  }
}

.option-one {
  color: $color-title-v2-red;
}

/* Shotgun */
.option-two {
  color: $color-title-v2-green;
}

.option-three {
  color: $color-title-v2-blue;
}

.page-add-build__build-base-list {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/* Please select a build type */
.page-add-build__type-error-text {
  margin-top: 20px;

  font-size: 14px;
  line-height: 17px;
  color: $color-title-v2-red;

  @include transition;
  transition-property: max-height, opacity, visibility;

  &.is-hidden {
    max-height: 1px;
  }
}

// .page-add-build__build-base-item { }

/* Make */
.page-add-build__drop-btn {
  width: 100%;

  padding: 19px 20px;

  font-size: 18px;
  line-height: 22px;
  text-align: left;

  background-color: $color-position-counter;
  border: 1px solid rgba($color-black, 0.02);
}

.page-add-build__label-input-filter {
  display: flex;
  flex-direction: column;

  padding: 15px 20px;

  background: $color-white;
  border: 1px solid rgba($color-black, 0.05);

  border-radius: 4px;
}

/* Search */
.page-add-build__input-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40px;
  padding: 12px 15px;

  font-size: 14px;
  line-height: 17px;

  background: $color-white;
  border: 1px solid rgba($color-black, 0.05);
  border-radius: 4px;

  &::placeholder {
    color: $color-comments-posted-date;
  }
}

.page-add-build__dropdown-content {
  contain: content;

  max-height: 182px;
  overflow-y: auto;

  background: $color-white;
  box-shadow: 2px 2px 35px rgba($color-black, 0.07);
  @include transition;
  transition-property: transform, visibility, opacity, max-height;

  &.is-hidden {
    max-height: 1px;
  }
}

.page-add-build__dropdown-content-addpart {
  box-shadow: none;
}

.page-add-build__dropdown-options-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 20px;
}

/* Adirondack leather products */
.page-add-build__dropdown-option-text {
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

.page-add-build__part-list {
  contain: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: $page-add-build__part-list-gap;
}

.build__part-list-link {
  position: relative;
}

.page-add-build__toolbar-remove-part-btn {
  top: -10px;
  right: -10px;
  position: relative;
  padding: 5px 10px 10px 10px;

  margin-left: auto;
}
.page-add-build__add-parts-btn {
  margin-top: 30px;
  margin-bottom: 0;
}

.page-add-build__toolbar-overlay {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}

// .page-add-build__add-pictures-item { }

.page-add-build__add-picture-thumb {
  position: relative;
  margin-right: 29px;
  margin-bottom: 28px;
}

.page-add-build__part-list-meta {
  margin-right: 20px;
}

/* Select one or more files from your computer */
.page-add-build__add-pictures-text {
  margin-top: 15px;

  text-align: center;

  font-size: 14px;
  line-height: 1.2;
  color: $color-comments-posted-date;
}

.page-add-build__toolbar-crop-image-btn {
  position: relative;
  top: unset;
  right: unset;
  margin: 0;

  left: -1px;
  bottom: -10px;
}

.profile-builds__toolbar-icon {
  min-width: 19px;
  min-height: 19px;
}

/* Crop */
.page-add-build__toolbar-crop-image-btn-text {
  margin-left: 10px;

  font-size: 14px;
  line-height: 17px;
  color: $color-grey;
}

.crop-btn {
  appearance: none;
  background: none;
  position: absolute;
  border: none;

  display: flex;
  align-items: center;

  left: -11px;
  bottom: -5px;

  min-width: 12px;
  min-height: 12px;
  padding: 11px 15px 5px;
}

// .page-add-build__add-pictures-btn { }

/* Save & Publish */
.btn--primary {
  appearance: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 50px;

  padding: 16px;

  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background: $color-accent;
  border: none;
  border-radius: 4px;
}

.page-add-build__loader-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($color-white, 0.9);

  @include transition;
  transition-property: visibility, opacity;
}

.page-add-build__loader-icon {
  width: 40px;
  height: 41px;
}

.page-add-build__build-options-list {
  margin-top: 35px;

  max-width: calc(#{100%} - (41px + 19px));
}

.page-add-build__part-not-found-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

/* Not found! */
.page-add-page-build__part-not-found-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  color: $color-comments-posted-date;
}

/* add new */
.page-add-build__add-new-part-btn {
  width: unset;
  padding: 16px 28px;
  margin: unset;
}

.page-add-build__options-list-wrapper {
  position: relative;
}

.page-add-build__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(#{100%} + 17px);
  height: 100%;
  padding-right: 17px;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  background: rgba($color-white, 0.9);
  @include transition;
  transition-property: transform, opacity, visibility;

  &.is-hidden {
    transform: scale(1.1);
  }
}

/* Add new Part - модальное окно */
.page-add-build__modal {
  position: relative;

  max-width: 500px;
  width: 100%;
  padding: 40px 50px;
  margin: auto;

  background: $color-white;
  box-shadow: 0 0 35px rgba($color-black, 0.05);
}

.page-add-build__modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;

  padding: 15px 21px;

  background: none;
  border: none;
  appearance: none;

  @include transition;
  transition-property: color;

  &:focus,
  &:hover {
    color: $color-accent;
  }
}

.page-add-build__modal-close-icon {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

.page-add-build__modal-form-add-part-title {
  margin-bottom: 30px;
}

.page-add-build__modal-form-add-part-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

/* Part name */
.page-add-build__modal-form-add-part-input {
  font-size: 14px;
  line-height: 17px;

  padding: 18px 22px;

  height: 50px;

  background-color: $color-white;
  border: 1px solid rgba($color-black, 0.05);
  border-radius: 4px;

  &::placeholder {
    color: $color-comments-posted-date;
  }
}

.page-add-build__toolbar-overlay-option-not-found {
  height: unset;
  width: unset;
}

.page-add-build__success-message-wrapper {
  position: fixed;
  top: 21px;
  left: calc(#{100%} + 17px);

  width: calc(#{100%} + 17px);
  height: fit-content;

  background-color: $color-white;

  @include transition;
  transition-property: transform, opacity, visibility;

  transform: translateX(-317px - 15px);

  &.is-hidden {
    // transform: translateX(0);
  }
}

.page-add-build__success-message {
  max-width: 300px;
  padding: 15px;
  font-weight: 700;
  border: 2px solid $color-title-v2-green;
}

/*










 */

// up to bigger mobile
@media screen and (max-width: 479px) {
  .page-add-build__type-item:not(:last-child) {
    margin: 0 auto 12px;
  }

  .page-add-build__type-item:last-child {
    margin: 0 auto;
  }
}

// from bigger mobile
@media screen and (min-width: 480px) {
  .page-add-build__type-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(1px, 1.5vw, #{$page-add-build__type-list-gap});
  }

  .page-add-build__type-item {
    flex: 1 1
      calc(
        (100% - 2 * clamp(1px, 1.5vw, #{$page-add-build__type-list-gap})) / 3
      );
  }
}

// up to tablet
@media screen and (max-width: 767px) {
  .page-add-build__title {
    margin-bottom: 25px;
  }

  .breadcrumbs__list {
    gap: 15px;
    padding: 21px 19px;
    margin-bottom: 40px;
  }

  .breadcrumbs__btn {
    gap: 10px;
  }

  .breadcrumbs__btn-text {
    .breadcrumbs__item:not(.current) & {
      display: none;
    }
  }

  .page-add-build__form-group {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba($color-black, 0.05);
  }

  .page-add-build__subtitle {
    margin-bottom: 40px;
  }

  // .page-add-build__type-list { }

  .page-add-build__type-item {
    max-width: 315px;
  }

  .page-add-build__label-radio-group {
    margin-bottom: 20px;
  }

  .page-add-build__part-list {
    justify-content: center;
    gap: 20px;
  }

  .page-add-build__part-item {
    flex-basis: 100%;
    max-width: 340px;
  }

  .page-add-build__add-pictures-list {
    gap: $page-add-build__add-pictures-list-mobile;
  }

  .page-add-build__add-pictures-item {
    flex-basis: calc((100% - #{$page-add-build__add-pictures-list-mobile}) / 2);
    max-width: $page-add-build__card-width;
  }

  .breadcrumbs__next-page-arrow-svg {
    display: none;
  }

  .page-add-build__image {
    width: 130px;
    height: 130px;
    border: none;
  }

  .page-add-build__build-options-list {
    margin-top: 30px;
    max-width: calc(#{100%} - (26px + 19px));
  }

  .page-add-build__add-pictures-btn {
    margin-top: 30px;
  }

  .page-add-build__type-error-text {
    margin-top: 15px;
  }

  .page-add-build__backdrop {
    left: calc(#{-100%} - 17px);
    transform: translateX(100%) scale(1);

    &.is-hidden {
      transform: translateX(0) scale(1);
    }
  }

  .page-add-build__modal {
    padding: 15px;
    height: 100%;
  }

  .page-add-build__modal-form-add-part-title {
    margin-bottom: 40px;
  }

  .page-add-build__modal-form-add-part-label {
    margin-bottom: 40px;
  }
}

// from tablet
@media screen and (min-width: 768px) {
  // .page-add-build__type-list {}

  .page-add-build__part-item {
    flex-basis: calc((100% - 2 * #{$page-add-build__part-list-gap}) / 3);
  }

  .page-add-build__add-pictures-list {
    gap: $page-add-build__add-pictures-list-mobile;
  }

  .page-add-build__add-pictures-item {
    flex-basis: calc((100% - 3 * #{$page-add-build__add-pictures-list}) / 4);
  }
}

// from desktop
@media screen and (min-width: 1200px) {
  .page-add-build__add-pictures-list {
    gap: $page-add-build__add-pictures-list;
  }
}
