.build__flex-container {
  display: flex;
  position: relative;
  margin-bottom: 60px;
}

.build__part-list-aside {
  max-width: calc(100% * #{$build__aside-width});
}

.build__main-content-wrapper {
  max-width: calc(100% * #{$build__main-width});
  margin-left: auto;
}

// .build__container { }

// .build__main-container { }

.build__searchbuilds-container {
  margin-top: 40px;
  margin-bottom: 40px;
  contain: content;
}

// .build__main-content { }

/* Custom browning Hi Power */
.build__title {
  margin-bottom: 30px;
}

.build-h1 {
  margin-bottom: 10px;
}

.build__post-meta-wrapper {
  margin-bottom: 20px;
}

.post-meta__wrapper {
  display: flex;
  align-items: center;
}

.build__post-meta {
  margin-right: auto;
}

// .build__post-metadata { }

.rating__svg {
  color: $color-white;
}

.rating__item {
  &:not(:last-child) {
    margin-right: 2px;
  }
}

.build__avatar-thumb {
  margin-right: 10px;
  max-width: 30px;
  max-height: 30px;
}

/* troz */
.build__author-name,
.builds__post-date {
  display: inline-flex;
  align-items: center;

  font-size: 14px;
  line-height: 17px;
  color: rgba($color-black, 0.5);
  white-space: nowrap;

  &::after {
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 0 15px;
    content: '';
    background-color: rgba($color-black, 0.05);
  }
}

.rating__list {
  display: inline-flex;
  align-items: center;
}

.rating__item {
  display: inline-flex;
  align-items: center;
}

.build__share-wrapper {
  display: flex;
  align-items: center;
}

/* Rectangle 109 */
.build__copy-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  min-height: 50px;
  padding-left: 20px;

  margin-right: 15px;

  border: 1px solid rgba($color-black, 0.05);
  border-radius: 4px;
}

/* http://mygun.pro/b/4rlHsd */
.build__link-to-copy {
  margin-right: 22px;

  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/* Copy */
.copy-btn {
  appearance: none;
  padding: 16px 25px 14px 25px;

  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: $color-accent;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background: none;
  border: none;

  @include transition;
  transition-property: color, box-shadow;

  &:focus,
  &:hover {
    color: lighten($color-accent, 21);
    box-shadow: 0 0 35px rgba($color-black, 0.05);
  }
}
// .build__copy-btn {}
// .copy-btn__span {}

/* share */
.share-btn {
  appearance: none;
  display: inline-flex;
  align-items: center;

  padding: 16px 22px 14px 23px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: $color-accent;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background: none;
  border: 1px solid rgba($color-accent, 0.25);
  border-radius: 4px;
}

.share-btn,
.comments__show-more-btn {
  @include transition;
  transition-property: color, box-shadow;

  &:focus,
  &:hover {
    color: lighten($color-accent, 5);
    box-shadow: 0 0 35px rgba($color-black, 0.05);
  }
}

// .build__share-btn {}
.share-btn__svg {
  color: $color-accent;
}
.build__share-btn-svg {
  margin-right: 8px;
}
// .share__share-btn-text {}
// .build__share-btn-text {}

.build__thumb {
  margin-bottom: 23px;
}

.build__photos-list {
  contain: content;
  display: flex;
  gap: 23px;
}

.build__photos-item {
  position: relative;
}

.build__photos-to-show-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;

  background: rgba($color-black, 0.15);
  backdrop-filter: blur(4px);
}

/* +30 */
.build__photos-to-show-count {
  margin: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-white;
}

// .build__photos-thumb {}

// (aside - 1st and 2nd box)
.build__basis-wrapper,
.build__part-list-wrapper {
  padding: 30px 0 30px 25px;
  background: $color-white;
  box-shadow: 0 0 35px rgba($color-black, 0.05);
}

.build__basis-wrapper {
  margin-bottom: 30px;
}

// 150x106
.build__basis-thumb {
  min-width: 150px;
  min-height: 106px;
  padding-top: 5px;
  margin-bottom: 30px;
}

.build__basis-image {
  margin: 0 auto;
}

// aside content (1st image - build basis)
// tag list
.build__build {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* Part list */
.build__part-list-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.build__part-list {
  contain: content;
  display: flex;
}

// .build__part-list-item { }
.build__part-list-link {
  display: flex;
  align-items: center;
  gap: 13px;

  @include transition;
  transition-property: box-shadow;

  border-radius: 4px;

  &:focus,
  &:hover {
    box-shadow: 0 0 35px rgba($color-black, 0.05);
  }
}

.build__part-list-image {
  border: 1px solid rgba($color-black, 0.05); // width: 80px; height: 80px;
}

.build__part-list-meta {
  padding: 8px 0;
}

.build__part-list-rating {
  margin-bottom: 6px;
}

/* RMR RM06 */
.build__part-list-name {
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  @include transition;
  transition-property: color;

  a.build__part-list-link:focus &,
  a.build__part-list-link:hover & {
    color: $color-accent;
  }
}

/* BCU */
.build__part-list-type {
  position: static;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.5;
}

.build__details-thumb {
  margin-bottom: 30px;
}

.build__image,
.build__details-image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Build comments 25 */
.build__comments-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 40px;
}

.build__comments-count {
  color: $color-comments-count;
  margin-left: 10px;
}

// .comments__form {}

.comments-review-label {
  display: flex;
  flex-direction: column;
}

.build__comments-review-label {
  margin-bottom: 20px;
}

.build__comments-review {
  box-sizing: border-box;
  min-height: 140px;

  padding: 20px 25px;
  resize: none;

  background-color: $color-white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;

  /* Enter your review */
  &::placeholder {
    font-size: 18px;
    line-height: 22px;
    color: #999999;
  }
}

/* post */
.build__comments-submit-review-btn {
  appearance: none;
  min-width: 200px;
  min-height: 50px;

  display: block;

  padding: 16px 42px;
  margin-bottom: 20px;
  margin-left: auto;

  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background-color: $color-accent;
  border-radius: 4px;
  border: none;

  @include transition;
  transition-property: color, background-color, box-shadow;

  &:focus,
  &:hover {
    background-color: lighten($color-accent, 5);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  }
}

.build__comments-avatar-thumb {
  margin-right: 13px;
}

/* Alexander */
.comments__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  margin-right: 30px;
}
// .build__comments-author-name { }

/* I found a 2007 study on effects */
.comments__posted-review {
  font-size: 14px;
  line-height: 140%;
  color: $color-comments-posted-review;
}
// .build__comments-posted-review { }

/* Edit */
.comments__edit-review-btn {
  appearance: none;
  background: none;
  border: none;

  margin-right: 15px;
  font-size: 14px;
  line-height: 140%;
  color: $color-accent;
  text-align: right;

  @include transition;
  transition-property: color;

  &:focus,
  &:hover {
    color: lighten($color-accent, 21);
  }
}

.build__comments-post-meta {
  margin-bottom: 15px;
}

/* 11 December 2021 */
.comments__posted-date {
  font-size: 14px;
  line-height: 140%;
  text-align: right;
  color: $color-comments-posted-date;
}

.comments__posted-review {
  margin-bottom: 15px;
}

.comments__item {
  &::after {
    display: block;
    width: 100%;
    height: 1px;

    margin-top: 20px;
    content: '';

    background: $color-black;
    opacity: 0.05;
  }

  &:not(:last-child)::after {
    margin-bottom: 25px;
  }

  &:last-child::after {
    margin-bottom: 30px;
  }
}

.comments__show-more-btn {
  appearance: none;

  display: block;
  width: 100%;
  padding: 16px 42px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: $color-accent;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background: none;
  border: 1px solid rgba(25, 140, 205, 0.25);
  border-radius: 4px;
}

/*



















*/

.build__description {
  font-size: 14px;
  line-height: 1.4;

  &:not(:last-child) {
    margin-bottom: 27px;
  }
}

/*























 */

// mobile
@media screen and (max-width: 767px) {
  .searchbuilds-link-a {
    white-space: nowrap;
  }
  .build__flex-container {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }

  .build__part-list-aside {
    display: none;
  }

  // .build__part-list-aside {
  //   position: absolute;
  //   top: 643px;
  //   left: 0;
  //   min-width: 100%;
  //   min-height: 100%;
  //   padding: 0 15px;
  // }

  .build__main-content-wrapper {
    max-width: 100%;
    margin-left: unset;
  }

  .build__searchbuilds-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .build__section {
    padding-bottom: 50px;
  }

  .build__thumb {
    margin-bottom: 10px;
  }

  .build__photos-list {
    margin-bottom: 20px;
    gap: 10px;
  }

  .build__part-list-wrapper {
    padding: 0;
  }

  .build__part-list-wrapper-mobile {
    padding: 0 15px;
    box-shadow: none;
  }

  .build__part-list-title {
    margin-bottom: 20px;
  }

  .build__part-list {
    gap: 40px;
    overflow-x: auto;
  }

  .build__post-meta {
    margin-bottom: 15px;
  }

  .build__copy-wrapper {
    margin-right: 10px;
    padding-left: 22px;
  }

  .build__share-btn-text {
    display: none;
  }

  .build__share-btn {
    padding: 14px;
  }

  .share-btn__svg {
    margin-right: 0;
    min-width: 20px;
  }

  // .build__photos-item {}

  .build__post-meta-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .copy-btn {
    padding-right: 20px;
  }

  .build__link-to-copy {
    margin-right: 27px;
  }

  .build__post-meta-wrapper,
  .build__photos-list {
    padding-right: 15px;
    padding-left: 15px;
  }
  // .build__post-meta-wrapper { }
  .build__photos-list {
    margin-bottom: 50px;
    justify-content: center;
  }

  .build__photos-item {
    &:nth-child(n + 4) {
      display: none;
    }

    &:nth-child(n + 8) {
      display: initial;
    }
  }

  .build__photos-thumb {
    max-width: 79px;
    max-height: 79px;
  }
  .build__photos-image {
    max-width: 100%;
    height: auto;
  }
  // .build__description {}
  .build__title-mobile {
    margin-bottom: 20px;
  }

  .build__part-list-item {
    width: fit-content;
    white-space: nowrap;
  }

  .build__comments-submit-review-btn {
    width: 100%;
    margin-bottom: 30px;
  }

  .comments-review-label {
    margin-bottom: 15px;
  }
  .simbuilds__title {
    margin-bottom: 20px;
  }
  .build__comments-title {
    margin-bottom: 20px;
  }
}

// tablet
@media screen and (min-width: 768px) {
  .build__part-list {
    flex-direction: column;
    gap: 20px;
  }

  .simbuilds__list {
    margin-top: 41px;
    margin-bottom: 40px;
  }
}
