.page-add-build__title {
  margin-bottom: 40px;
}

.page-add-build__container {
  max-width: 811px;
  margin: 0 auto;
}

.page-add-build__form {
  padding-bottom: 40px;
}

.page-add-build__form-group {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba($color-black, 0.05);
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;

  padding: 21px 43px;
  margin-bottom: 60px;

  background: $color-white;
  box-shadow: 0 0 35px rgba($color-black, 0.05);
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  gap: 35px;
}

/* bx:bxs-down-arrow */
.breadcrumbs__next-page-arrow-svg {
  display: inline-flex;
  align-items: center;

  width: 8px;
  height: 8px;

  opacity: 0.25;
  transform: rotate(-90deg);
}

.breadcrumbs__position-counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 26px;
  min-height: 26px;
  padding: 5px 9px 5px;

  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: $color-comments-posted-date;

  background: $color-position-counter;
  border-radius: 4px;
}

.breadcrumbs__btn {
  appearance: none;

  display: inline-flex;
  align-items: center;

  gap: 15px;
  height: 26px;

  background: none;
  border: none;
}

/* Main features */
.breadcrumbs__btn-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $color-black;

  &.current {
    color: $color-accent;
  }

  /* Build parts */
  &.inactive {
    color: $color-comments-posted-date;
  }
}

.page-add-build__breadcrumbs-svg {
  width: 26px;
  height: 26px;
  border-radius: 4px;
}

.icon-checkbox-checked {
  color: $color-green;
}

.icon-dot-in-box {
  color: $color-accent;
}

.page-add-build__subtitle {
  margin-bottom: 50px;
}

/* Build name */
.page-add-build__label,
.page-add-build__label-radio-group {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.page-add-build__label-radio-group {
  gap: 0;
  margin-bottom: 20px;
}

.page-add-build__label-text {
}

/* New Budget rifles from armalite */
.page-add-build__input {
  font-size: 14px;
  line-height: 17px;
  color: #000000;

  padding: 21px 22px 22px;

  background-color: $color-white;
  border: 1px solid rgba($color-black, 0.05);
  box-sizing: border-box;
  border-radius: 4px;

  &:disabled {
    // color: # 000000;
  }
}

.page-add-build__type-list {
  padding: 10px 15px;

  background: $color-white;
  box-shadow: 0 0 35px rgba($color-black, 0.05);
  border-radius: 4px;
}

.page-add-build__type-item {
  max-width: 240px;
  max-height: 40px;
}

.page-add-build__label-radio {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 4px;
}

.page-add-build__input-radio {
  position: absolute;
  appearance: none;

  pointer-events: none;
  opacity: 0;
}

/* Rifle */
.page-add-build__label-radio-text {
  width: 100%;
  height: 100%;

  text-align: center;

  padding: 9px 15px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  border-radius: 4px;

  @include transition;
  transition-property: transform, background-color;

  .page-add-build__input-radio:checked + & {
    background-color: $color-position-counter;
  }
}

.option-one {
  color: $color-title-v2-red;
}

/* Shotgun */
.option-two {
  color: $color-title-v2-green;
}

.option-three {
  color: $color-title-v2-blue;
}

.page-add-build__build-base-list {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

// .page-add-build__build-base-item { }

/* Make */
.page-add-build__drop-btn {
  width: 100%;

  padding: 19px 20px;

  font-size: 18px;
  line-height: 22px;
  text-align: left;

  background-color: $color-position-counter;
  border: 1px solid rgba($color-black, 0.02);
}

.page-add-build__label-input-filter {
  display: flex;
  flex-direction: column;

  padding: 15px 20px;

  background: $color-white;
  border: 1px solid rgba($color-black, 0.05);

  border-radius: 4px;
}

/* Search */
.page-add-build__input-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40px;
  padding: 12px 15px;

  font-size: 14px;
  line-height: 17px;

  background: $color-white;
  border: 1px solid rgba($color-black, 0.05);
  border-radius: 4px;

  &::placeholder {
    color: $color-comments-posted-date;
  }
}

.page-add-build__dropdown-content {
  contain: content;

  max-height: 182px;
  overflow-y: auto;

  background: $color-white;
  box-shadow: 2px 2px 35px rgba($color-black, 0.07);
  @include transition;
  transition-property: transform, visibility, opacity, height, min-height;

  transform: translateY(0);

  &.is-hidden {
    width: 1px;
    min-width: 1px;
    max-width: 1px;
    height: 1px;
    min-height: 1px;
    max-height: 1px;

    transform: translateY(0);
  }
}

.page-add-build__dropdown-options-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 20px;
}

/* Adirondack leather products */
.page-add-build__dropdown-option-text {
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

.page-add-build__part-list {
  contain: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: $page-add-build__part-list-gap;

  margin-bottom: 35px;
}

.build__part-list-link {
  position: relative;
}

.page-add-build__toolbar-remove-part-btn {
  top: -10px;
  right: -10px;
  position: relative;
  padding: 5px 10px 10px 10px;

  margin-left: auto;
}
.page-add-build__add-parts-btn {
  margin-bottom: 0;
}

.page-add-build__toolbar-overlay {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}

// .page-add-build__add-pictures-item { }

.page-add-build__add-picture-thumb {
  position: relative;
  margin-right: 29px;
  margin-bottom: 28px;
}

.page-add-build__part-list-meta {
  margin-right: 20px;
}

/* Select one or more files from your computer */
.page-add-build__add-pictures-text {
  margin-top: 15px;

  text-align: center;

  font-size: 14px;
  line-height: 1.2;
  color: $color-comments-posted-date;
}

.page-add-build__toolbar-crop-image-btn {
  position: relative;
  top: unset;
  right: unset;
  margin: 0;

  left: -1px;
  bottom: -10px;
}

.profile-builds__toolbar-icon {
  min-width: 19px;
  min-height: 19px;
}

/* Crop */
.page-add-build__toolbar-crop-image-btn-text {
  margin-left: 10px;

  font-size: 14px;
  line-height: 17px;
  color: $color-grey;
}

.crop-btn {
  appearance: none;
  background: none;
  position: absolute;
  border: none;

  display: flex;
  align-items: center;

  left: -11px;
  bottom: -5px;

  min-width: 12px;
  min-height: 12px;
  padding: 11px 15px 5px;
}

.page-add-build__add-pictures-btn {
  margin-top: 58px;
}

/* Save & Publish */
.btn--primary {
  appearance: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 50px;

  padding: 16px;

  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background: $color-accent;
  border: none;
  border-radius: 4px;
}

.page-add-build__loader-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($color-white, 0.9);

  @include transition;
  transition-property: visibility, opacity;
}

.page-add-build__loader-icon {
  width: 40px;
  height: 41px;
}

/*










 */

// up to bigger mobile
@media screen and (max-width: 479px) {
  .page-add-build__type-item:not(:last-child) {
    margin: 0 auto 12px;
  }

  .page-add-build__type-item:last-child {
    margin: 0 auto;
  }
}

// from bigger mobile
@media screen and (min-width: 480px) {
  .page-add-build__type-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(1px, 1.5vw, #{$page-add-build__type-list-gap});
  }

  .page-add-build__type-item {
    flex: 1 1
      calc(
        (100% - 2 * clamp(1px, 1.5vw, #{$page-add-build__type-list-gap})) / 3
      );
  }
}

// up to tablet
@media screen and (max-width: 767px) {
  .page-add-build__title {
    margin-bottom: 25px;
  }

  .breadcrumbs__list {
    gap: 15px;
    padding: 21px 19px;
    margin-bottom: 40px;
  }

  .breadcrumbs__btn {
    gap: 10px;
  }

  .breadcrumbs__btn-text {
    &:not(.current) {
      display: none;
    }
  }

  .page-add-build__subtitle {
    margin-bottom: 40px;
  }

  // .page-add-build__type-list { }

  .page-add-build__type-item {
    max-width: 315px;
  }

  .page-add-build__label-radio-group {
    margin-bottom: 20px;
  }

  .page-add-build__part-list {
    justify-content: center;
    gap: 20px;
  }

  .page-add-build__part-item {
    flex-basis: 100%;
    max-width: 340px;
  }

  .page-add-build__add-pictures-list {
    gap: $page-add-build__add-pictures-list-mobile;
  }

  .page-add-build__add-pictures-item {
    flex-basis: calc((100% - #{$page-add-build__add-pictures-list-mobile}) / 2);
    max-width: $page-add-build__card-width;
  }

  .breadcrumbs__next-page-arrow-svg {
    display: none;
  }

  .page-add-build__image {
    width: 130px;
    height: 130px;
    border: none;
  }
}

// from tablet
@media screen and (min-width: 768px) {
  // .page-add-build__type-list {}

  .page-add-build__part-item {
    flex-basis: calc((100% - 2 * #{$page-add-build__part-list-gap}) / 3);
  }

  .page-add-build__add-pictures-list {
    gap: $page-add-build__add-pictures-list-mobile;
  }

  .page-add-build__add-pictures-item {
    flex-basis: calc((100% - 3 * #{$page-add-build__add-pictures-list}) / 4);
  }
}

// from desktop
@media screen and (min-width: 1200px) {
  .page-add-build__add-pictures-list {
    gap: $page-add-build__add-pictures-list;
  }
}
