.profile__hero {
  max-width: 1600px;
  margin: 0 auto;
}
.profile__content {
  display: flex;
  margin-top: 30px;
}
.profile__hero-toomb {
  position: relative;

  max-width: 1600px;
  min-height: 325px;

  &:hover .profile__hero-backdrop {
    opacity: 1;
  }
  &:hover .profile__hero-toomb-button {
    opacity: 1;
  }
}
.profile__hero-img {
  display: block;
  width: 100%;
}
.profile__hero-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  transition: opacity 300ms linear;
}
.profile__hero-toomb-button {
  opacity: 0;
  appearance: none;
  background: none;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  font-family: Rogan;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 15px;
  transition: opacity 300ms linear;
  cursor: pointer;
}
.profile__hero-toomb-button-icon {
  width: 20px;
  height: 17px;
  margin-right: 10px;
  fill: #ffffff;
}
.profile__human {
  display: flex;
  align-items: flex-start;
}
.profile__human-img {
  width: 170px;
  height: 170px;
}
.profile__human-toomb {
  position: relative;
  margin-right: 30px;
  margin-top: -58px - 30px;
  &:hover .profile__human-backdrop {
    opacity: 1;
  }
  &:hover .profile__human-backdrop-button {
    opacity: 1;
  }
}
.profile__human-backdrop {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms linear;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 12px;
}
.profile__human-backdrop-button {
  appearance: none;
  background: none;
  border: none;
  opacity: 0;
  transition: opacity 250ms linear;
}
.profile__human-backdrop-button-icon {
  height: 28px;
  width: 27px;
  stroke: #ffffff;
}
.profile__human-head {
  font-family: Rogan;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;

  color: #000000;
}
.profile__human-button {
  appearance: none;
  background: none;
  border: 1px solid rgba(25, 140, 205, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 17px 29px;
  display: flex;
  align-items: center;
  font-family: Rogan;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-left: auto;
  color: #198ccd;

  @include transition;
  transition-property: color, border-color, box-shadow;

  &:focus,
  &:hover {
    color: lighten($color-accent, 21);
    border-color: lighten($color-accent, 36);
    box-shadow: 0 0 35px rgba($color-black, 0.05);
  }
}
.profile__human-button-icon {
  width: 16px;
  height: 18px;
  margin-right: 11px;
}
.profile__pages-list {
  display: flex;
  gap: 50px;
  padding: 22px 33px;
  background: #ffffff;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  margin-bottom: 50px;
}
.profile__pages-item-button {
  font-family: Rogan;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #999999;
  padding-top: 22px;
  padding-bottom: 20px;
  &.active {
    color: #000000;
    border-bottom: 2px solid #000000;
  }
}

.profile__block {
  max-width: calc(#{($container - 2 * $padding) * $page-profile-content-width});
}
.profile__comments-show-more-btn {
  margin-top: 30px;
}
.profile-builds__post-type {
  margin-bottom: 10px;
}
.profile__link {
  display: block;
}

// .profile-profile-forums__title-wrapper { }

.profile__title-wrapper {
  margin-bottom: 25px;
}

/* Builds */
.profile__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

/* 10 Tips for Choosing a Concealed Carry Handgun */
.profile-profile-forums__post-title {
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.profile__post-meta-date {
  margin-bottom: 10px;
}
.profile__list {
  gap: $page-profile-gap;
}
// .profile__item { }
.profile__thumb {
  position: relative;
  max-width: 277px;
}
.profile-profile-forums__list {
  gap: 25px;
}
.profile-profile-forums__item {
  flex-basis: calc((100% - 2 * #{$page-profile-gap}) / 3);
}

.profile-profile-forums__link {
  padding: 30px;
}
.profile-profile-forums__post {
  margin-bottom: 0;
}
.profile-profile-forums__post-meta-date {
  margin-bottom: 10px;
}
/* Glock 22 Gen 4 */
.profile__recentbuilds-item-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.searchbuilds__block__trending-blogs {
  margin-bottom: 60px;
}
.profile__section {
  padding-bottom: 50px;
}
