.manufacturers__block {
  display: flex;
}
.manufacturers__pages-list {
  display: flex;
  gap: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.05);
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 40px;
}
.manufacturers__pages-item-button {
  appearance: none;
  background: none;
  border: none;
  font-family: Rogan;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #999999;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  &.active {
    color: #000000;
    border-bottom: 2px solid #000000;
  }
}
.manufacturers__pages-cards {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.manufacturers__pages-cards-item {
  width: calc((100% -35px) / 2);
  padding-bottom: 25px;
  border-bottom: 1px solid #f7f7f7;
}
.manufacturers__pages-cards-item-link {
  font-family: Rogan;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  &.active {
    color: #000000;
  }
}
.manufacturers__pages-button {
  appearance: none;
  background: none;
  border: 1px solid rgba(25, 140, 205, 0.25);
  border-radius: 4px;
  font-family: Rogan;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  color: #198ccd;
  margin-top: 35px;
}
@media screen and(max-width: 767px) {
  .manufacturers__block {
    display: flex;
    flex-direction: column;
  }
  .manufacturers__pages-list {
    display: flex;
    flex-wrap: wrap;
  }
  .search__content-mobile {
    display: flex;
    align-items: center;
  }
  .mobile-close {
    display: none;
  }
  .manufacturers__pages-cards {
    flex-direction: column;
  }
  .manufacturers__pages-cards-item {
    width: 100%;
  }
}
@media screen and(min-width: 767px) and (max-width: 1199px) {
  .manufacturers__pages-list {
    flex-wrap: wrap;
  }
}
