// Footer
.footer {
  height: 338px;
  padding: 40px 0px 30px;
  background-color: $color-brand;
}

.footer__brand-wrapper {
  border-right: 1px solid $color-border;
}

.logo-wrapper {
  padding-right: 85px;
  padding-bottom: 40px;
  border-bottom: 1px solid $color-border;
}

.footer-navigation-wrapper {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.footer__social-svg {
  fill: $color-social-icon;
}

.footer__container {
  display: flex;
}

// // Mobile
// @media screen and (max-width: 767px) {
// }

// // Tablet
// @media screen and (min-width: 768px) and (max-width: 1199px) {
// }

// // Desktop
// @media screen and (min-width: 1200px) {
// }
