<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Guns and weaponry site" />
    <meta name="theme-color" content="#212121" />
    <title>Главная страница</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.bundle.css" />

    <link rel="preload" href="./sass/fonts/CaviarDreams.woff2" crossorigin="anonymous" as="font" />

    <!-- 700 -->
    <link rel="preload" href="../../fonts/rogan/Rogan-Bold.woff2" crossorigin="anonymous" as="font" type="font/woff2" />

    <!-- 400 -->
    <link rel="preload" href="../../fonts/rogan/Rogan-Regular.woff2" crossorigin="anonymous" as="font"
        type="font/woff2" />
</head>

<body>
    <!-- Header -->
        <%= _.template(require('./../includes/header.html').default)(data) %>
    <!-- Search -->
        <%= _.template(require('./../includes/search.html').default)(data) %>

        <!-- Search Builds -->
        <div class="searchbuilds">
            <div class="container">
                <div class="searchbuilds__content">
                    <ul class="searchbuilds-list">
                        <li class="searchbuilds-link">
                            <a href="">Home</a>
                        </li>
                        <li class="searchbuilds-link">
                            <a href="">Search Builds</a>
                        </li>
                    </ul>

                    <h1 class="searchbuilds-head">Search Builds</h1>

                    <div class="searchbuilds__block">

                        <!-- Filter -->
                        <div class="searchbuilds__block__filter">
                            <div class="searchbuilds__block__filter-toomb">
                                <div class="searchbuilds__block__filter-toomb-category">
                                <h2 class="searchbuilds__block__filter-toomb-head">
                                    Choose a category:
                                </h2>

                                <ul class="searchbuilds__block__filter-list">
                                    <li class="searchbuilds__block__filter-item active">
                                        <button class="searchbuilds__block__filter-button ">
                                            All
                                        </button>
                                    </li>
                                    <li class="searchbuilds__block__filter-item">
                                        <button class="searchbuilds__block__filter-button rifle">
                                            Rifle
                                        </button>
                                    </li>
                                    <li class="searchbuilds__block__filter-item">
                                        <button class="searchbuilds__block__filter-button shotgun">
                                            Shotgun
                                        </button>
                                    </li>
                                    <li class="searchbuilds__block__filter-item">
                                        <button class="searchbuilds__block__filter-button handgun">
                                            Handgun
                                        </button>
                                    </li>
                                </ul>

                                </div>
                                <div class="searchbuilds__block__filter-toomb__type">
                                    <h2 class="searchbuilds__block__filter-toomb-head next">
                                        Choose type of build:
                                    </h2>
                                        <ul class="searchbuilds__block__filter-toomb-list">
                                            <li class="searchbuilds__block__filter-toomb-item">
                                                <input type="text" placeholder="Brand" class="searchbuilds__block__filter-toomb-input"/>
                                            </li>
                                            <li class="searchbuilds__block__filter-toomb-item">
                                                <input type="text" placeholder="Model" class="searchbuilds__block__filter-toomb-input"/>
                                            </li>
                                            <li class="searchbuilds__block__filter-toomb-item">
                                                <input type="text" placeholder="Caliber" class="searchbuilds__block__filter-toomb-input"/>
                                            </li>
                                        </ul>
                                        <!-- Option -->
                                        <div class="searchbuilds__block__filter-toomb__sunk">
                                            <span class="searchbuilds__block__filter-toomb__sunk-span">
                                            <h2 class="searchbuilds__block__filter-toomb__sunk-head">
                                                Option set 1
                                            </h2>
                                                <svg class="searchbuilds__block__filter-toomb__sunk-icon"><use href="../../img/svg/sprite.svg#icon-delete"></use>
                                                </svg>
                                            </span>
                                            <ul class="searchbuilds__block__filter-toomb__sunk-list">
                                                <li class="searchbuilds__block__filter-toomb__sunk-item">Manufacturer</li>
                                                <li class="searchbuilds__block__filter-toomb__sunk-item">Model</li>
                                                <li class="searchbuilds__block__filter-toomb__sunk-item">Part</li>
                                            </ul>
                                        </div>
                                        <button class="searchbuilds__block__filter-toomb__type-button">
                                            Add new filter
                                        </button>
                                </div>
                            </div>
                            <button class="searchbuilds__block__filter-Sbutton">
                                search
                            </button>
                        </div>

                        <!-- Cards -->
                        <div class="searchbuilds__block__cards">
                            <div class="searchbuilds__block__cards_sorte">
                                <p class="searchbuilds__block__cards_sorte-text">
                                    Order by:
                                </p>
                                <ul class="searchbuilds__block__cards_sorte-list">
                                    <li class="searchbuilds__block__cards_sorte-item">
                                        <p class="searchbuilds__block__cards_sorte-item-text active">date</p>
                                        <svg class="searchbuilds__block__cards_sorte-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-arrow-down"></use>
                                        </svg>
                                    </li>
                                    <li class="searchbuilds__block__cards_sorte-item">
                                        <p class="searchbuilds__block__cards_sorte-item-text">rating</p>
                                        <!-- <svg class="searchbuilds__block__cards_sorte-item-icon">
                                            <use href=""></use>
                                        </svg> -->
                                    </li>
                                    <li class="searchbuilds__block__cards_sorte-item">
                                        <p class="searchbuilds__block__cards_sorte-item-text">comments</p>
                                        <!-- <svg class="searchbuilds__block__cards_sorte-item-icon">
                                            <use href=""></use>
                                        </svg> -->
                                    </li>
                                </ul>
                            </div>
                            <div class="searchbuilds__block__cards-cart">
                                <ul class="guns__list shotgun__list">
                                    <li class="guns__item shotgun__item">
                                        <a class="guns__link shotgun__link" href="#">
                                            <div class="guns__thumb shotgun__thumb">
                                                <img class="guns__image shotgun__image" src="../../img/photos/shotgun/shotgun-001.jpg"
                                                    alt="Shotgun image Saiga 12 Slash fore grip" width="277" height="200" />
                                            </div>
                                
                                            <div class="guns__post shotgun__post">
                                                <h3 class="title-v3 guns__post-title shotgun__post-title">
                                                    Saiga 12 Slash fore grip
                                                </h3>
                                
                                                <div class="guns__post-meta shotgun__post-meta">
                                                    <div class="guns__avatar-thumb shotgun__avatar-thumb">
                                                        <img class="guns__author-avatar shotgun__author-avatar" src="../../img/photos/avatar.jpg"
                                                            alt="Author avatar - man in white t-shirt" width="25" height="25" />
                                                    </div>
                                
                                                    <span class="guns__author-name shotgun__author-name">troz</span>
                                
                                                    <div class="post__views shotgun__post-views">
                                                        <svg class="post__views-svg svg shotgun__post-views-svg" width="16" height="16">
                                                            <use href="./img/svg/sprite.svg#icon-post-vieweye"></use>
                                                        </svg>
                                
                                                        <span class="post__views-count shotgun__post-views-count">12</span>
                                                    </div>
                                
                                                    <div class="post__comments shotgun__post-comments">
                                                        <svg class="post__comments-svg shotgun__post-comments-svg svg" width="14" height="14">
                                                            <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                                        </svg>
                                
                                                        <span class="post__comments-count shotgun__post-comments-count">5</span>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <ul class="guns__build shotgun__build">
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">Remington</span>
                                                </li>
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">1911 R1 Enhanced</span>
                                                </li>
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">.45 ACP</span>
                                                </li>
                                            </ul>
                                        </a>
                                    </li>
                                
                                    <li class="guns__item shotgun__item">
                                        <a class="guns__link shotgun__link" href="#">
                                            <div class="guns__thumb shotgun__thumb">
                                                <img class="guns__image shotgun__image" src="../../img/photos/shotgun/shotgun-002.jpg"
                                                    alt="Shotgun image Verp 12 Comp. fore grip" width="277" height="200" />
                                            </div>
                                
                                            <div class="guns__post shotgun__post">
                                                <h3 class="title-v3 guns__post-title shotgun__post-title">
                                                    Verp 12 Comp. fore grip
                                                </h3>
                                
                                                <div class="guns__post-meta shotgun__post-meta">
                                                    <div class="guns__avatar-thumb shotgun__avatar-thumb">
                                                        <img class="guns__author-avatar shotgun__author-avatar" src="../../img/photos/avatar.jpg"
                                                            alt="Author avatar - man in white t-shirt" width="25" height="25" />
                                                    </div>
                                
                                                    <span class="guns__author-name shotgun__author-name">troz</span>
                                
                                                    <div class="post__views shotgun__post-views">
                                                        <svg class="post__views-svg svg shotgun__post-views-svg" width="16" height="16">
                                                            <use href="./img/svg/sprite.svg#icon-post-vieweye"></use>
                                                        </svg>
                                
                                                        <span class="post__views-count shotgun__post-views-count">12</span>
                                                    </div>
                                
                                                    <div class="post__comments shotgun__post-comments">
                                                        <svg class="post__comments-svg shotgun__post-comments-svg svg" width="14" height="14">
                                                            <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                                        </svg>
                                
                                                        <span class="post__comments-count shotgun__post-comments-count">5</span>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <ul class="guns__build shotgun__build">
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">Remington</span>
                                                </li>
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">1911 R1 Enhanced</span>
                                                </li>
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">.45 ACP</span>
                                                </li>
                                            </ul>
                                        </a>
                                    </li>
                                
                                    <li class="guns__item shotgun__item">
                                        <a class="guns__link shotgun__link" href="#">
                                            <div class="guns__thumb shotgun__thumb">
                                                <img class="guns__image shotgun__image" src="../../img/photos/shotgun/shotgun-003.jpg"
                                                    alt="Shotgun image Custom Mossberg 500" width="277" height="200" />
                                            </div>
                                
                                            <div class="guns__post shotgun__post">
                                                <h3 class="title-v3 guns__post-title shotgun__post-title">Custom Mossberg 500</h3>
                                
                                                <div class="guns__post-meta shotgun__post-meta">
                                                    <div class="guns__avatar-thumb shotgun__avatar-thumb">
                                                        <img class="guns__author-avatar shotgun__author-avatar" src="../../img/photos/avatar.jpg"
                                                            alt="Author avatar - man in white t-shirt" width="25" height="25" />
                                                    </div>
                                
                                                    <span class="guns__author-name shotgun__author-name">troz</span>
                                
                                                    <div class="post__views shotgun__post-views">
                                                        <svg class="post__views-svg svg shotgun__post-views-svg" width="16" height="16">
                                                            <use href="./img/svg/sprite.svg#icon-post-vieweye"></use>
                                                        </svg>
                                
                                                        <span class="post__views-count shotgun__post-views-count">12</span>
                                                    </div>
                                
                                                    <div class="post__comments shotgun__post-comments">
                                                        <svg class="post__comments-svg shotgun__post-comments-svg svg" width="14" height="14">
                                                            <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                                        </svg>
                                
                                                        <span class="post__comments-count shotgun__post-comments-count">5</span>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <ul class="guns__build shotgun__build">
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">Remington</span>
                                                </li>
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">1911 R1 Enhanced</span>
                                                </li>
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">.45 ACP</span>
                                                </li>
                                            </ul>
                                        </a>
                                    </li>
                                
                                    <li class="guns__item shotgun__item">
                                        <a class="guns__link shotgun__link" href="#">
                                            <div class="guns__thumb shotgun__thumb">
                                                <img class="guns__image shotgun__image" src="../../img/photos/shotgun/shotgun-004.jpg"
                                                    alt="Shotgun image B25 in 20 gauge" width="277" height="200" />
                                            </div>
                                
                                            <div class="guns__post shotgun__post">
                                                <h3 class="title-v3 guns__post-title shotgun__post-title">
                                                    B25 Shotgun in 20 gauge
                                                </h3>
                                
                                                <div class="guns__post-meta shotgun__post-meta">
                                                    <div class="guns__avatar-thumb shotgun__avatar-thumb">
                                                        <img class="guns__author-avatar shotgun__author-avatar" src="../../img/photos/avatar.jpg"
                                                            alt="Author avatar - man in white t-shirt" width="25" height="25" />
                                                    </div>
                                
                                                    <span class="guns__author-name shotgun__author-name">troz</span>
                                
                                                    <div class="post__views shotgun__post-views">
                                                        <svg class="post__views-svg svg shotgun__post-views-svg" width="16" height="16">
                                                            <use href="./img/svg/sprite.svg#icon-post-vieweye"></use>
                                                        </svg>
                                
                                                        <span class="post__views-count shotgun__post-views-count">12</span>
                                                    </div>
                                
                                                    <div class="post__comments shotgun__post-comments">
                                                        <svg class="post__comments-svg shotgun__post-comments-svg svg" width="14" height="14">
                                                            <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                                        </svg>
                                
                                                        <span class="post__comments-count shotgun__post-comments-count">5</span>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <ul class="guns__build shotgun__build">
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">Remington</span>
                                                </li>
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">1911 R1 Enhanced</span>
                                                </li>
                                                <li class="guns__build-item shotgun__build-item">
                                                    <span class="guns__build-tag shotgun__build-tag">.45 ACP</span>
                                                </li>
                                            </ul>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="searchbuilds__pagin">
                                <button class="searchbuilds__pagin-back" type="button">
                                    <svg class="searchbuilds__pagin-back-icon">
                                        <use href="../../img/svg/sprite.svg#icon-arrow-right"></use>
                                    </svg>
                                    <p class="searchbuilds__pagin-back-text">back</p>
                                </button>
                            
                                <ul class="searchbuilds__pagin-list">
                                    <li class="searchbuilds__pagin-item">
                                        <button class="searchbuilds__pagin-item-button">
                                            1
                                        </button>
                                    </li>
                                    <li class="searchbuilds__pagin-item">
                                        <button class="searchbuilds__pagin-item-button">
                                            2
                                        </button>
                                    </li>
                                    <li class="searchbuilds__pagin-item">
                                        <button class="searchbuilds__pagin-item-button">
                                            3
                                        </button>
                                    </li>
                                    <li class="searchbuilds__pagin-item">
                                        <button class="searchbuilds__pagin-item-button">
                                            4
                                        </button>
                                    </li>
                                    <li class="searchbuilds__pagin-item">
                                        <button class="searchbuilds__pagin-item-button">
                                            5
                                        </button>
                                    </li>
                                    <li class="searchbuilds__pagin-item">
                                        <button class="searchbuilds__pagin-item-button">
                                            6
                                        </button>
                                    </li>
                                    <li class="searchbuilds__pagin-item">
                                        <button class="searchbuilds__pagin-item-button">
                                            7
                                        </button>
                                    </li>
                                    <li class="searchbuilds__pagin-item">
                                        <button class="searchbuilds__pagin-item-button">
                                            8
                                        </button>
                                    </li>
                                    <li class="searchbuilds__pagin-item">
                                        <button class="searchbuilds__pagin-item-button">
                                            9
                                        </button>
                                    </li>
                                    <li class="searchbuilds__pagin-item">
                                        <button class="searchbuilds__pagin-item-button">
                                            ...
                                        </button>
                                    </li>
                                    <li class="searchbuilds__pagin-item">
                                        <button class="searchbuilds__pagin-item-button">
                                            45
                                        </button>
                                    </li>
                                </ul>
                            
                                <button class="searchbuilds__pagin-next" type="button">
                                    <p class="searchbuilds__pagin-next-text">forward</p>
                                    <svg class="searchbuilds__pagin-next-icon">
                                        <use href="../../img/svg/sprite.svg#icon-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <!-- Trending -->
                        <div class="searchbuilds__block__trending">
                            <div class="searchbuilds__block__trending-now">
                                <h2 class="searchbuilds__block__trending-head">
                                    Trending now
                                </h2>
                                <ul class="trending-now__list res">
                                    <li class="trending-now__item">
                                        <a class="trending-now__link" href="#">
                                
                                            <h3 class="trending-now__post-title">
                                                10 Tips for Choosing <br />
                                                a Concealed Carry Handgun
                                            </h3>
                                            <div class="trending-now__thumb res">
                                                <img class="trending-now__author-avatar res" src="./img/photos/avatars-40x40/avatar-001-man-gray-shirt.jpg"
                                                    alt="Man-gray-shirt" />
                                            
                                            <p class="trending-now__post-meta res">
                                                <span class="trending-now__author-name">troz</span>,
                                                <span class="trending-now__post-date">today</span>
                                            </p>
                                            </div>
                                        </a>
                                    </li>
                                
                                    <li class="trending-now__item">
                                        <a class="trending-now__link" href="#">
                                
                                            <h3 class="trending-now__post-title">Firearms definitions and requirements</h3>
                                            <div class="trending-now__thumb res">
                                                <img class="trending-now__author-avatar res" src="./img/photos/avatars-40x40/avatar-002-man-red-tshirt.jpg"
                                                    alt="Man-red-tshirt" />
                                            <p class="trending-now__post-meta res">
                                                <span class="trending-now__author-name">troz</span>,
                                                <span class="trending-now__post-date">yesterday</span>
                                            </p>
                                            </div>
                                        </a>
                                    </li>
                                
                                    <li class="trending-now__item">
                                        <a class="trending-now__link" href="#">
                                
                                            <h3 class="trending-now__post-title">New Members: Please Read Guidelines</h3>
                                            <div class="trending-now__thumb res">
                                                <img class="trending-now__author-avatar res" src="./img/photos/avatars-40x40/avatar-003-man-white-tshirt.jpg"
                                                    alt="Man-white-tshirt" />
                                            
                                            <p class="trending-now__post-meta res">
                                                <span class="trending-now__author-name">troz</span>,
                                                <span class="trending-now__post-date">yesterday</span>
                                            </p>
                                            </div>
                                        </a>
                                    </li>
                                
                                    <li class="trending-now__item">
                                        <a class="trending-now__link" href="#">
                                
                                            <h3 class="trending-now__post-title">Pencil Barrel Whip</h3>
                                            <div class="trending-now__thumb res">
                                                <img class="trending-now__author-avatar res" src="./img/photos/avatars-40x40/avatar-004-man-striped-tshirt.jpg"
                                                    alt="Man-striped-tshirt" />
                                            
                                            <p class="trending-now__post-meta res">
                                                <span class="trending-now__author-name">troz</span>,
                                                <span class="trending-now__post-date">today</span>
                                            </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="searchbuilds__block__trending-builds">
                                <h2 class="searchbuilds__block__trending-head">
                                    Top builds
                                </h2>
                                <ul class="hero__recentbuilds-list res">
                                    <li class="hero__recentbuilds-item res">
                                        <div class="hero__recentbuilds-cards-toomb">
                                            <div class="hero__recentbuilds-cards-images res">
                                                <img src="../../img/photos/pistol1.png" class="hero__recentbuilds-cards-img">
                                            </div>
                                            <h2 class="hero__recentbuilds-item-head">Glock 22 Gen 4</h2>
                                            <div class="hero__recentbuilds-item-block res">
                                                <img src="../../img/photos/avatar.png" class="hero__recentbuilds-item-block-human-images res">
                                                <p class="hero__recentbuilds-item-block-human-name res">troz</p>
                                                <svg class="hero__recentbuilds-item-block-human-icon res">
                                                    <use href="../../img/svg/sprite.svg#icon-post-vieweye"></use>
                                                </svg>
                                                <p class="hero__recentbuilds-item-block-human-vieweye res">12</p>
                                                <svg class="hero__recentbuilds-item-block-human-icon res">
                                                    <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                                </svg>
                                                <p class="hero__recentbuilds-item-block-human-comment">5</p>
                                            </div>
                                            <ul class="hero__recentbuilds-item-stats-list">
                                                <li class="hero__recentbuilds-item-stats-item">
                                                    Remington
                                                </li>
                                                <li class="hero__recentbuilds-item-stats-item">
                                                    1911 R1 Enhanced
                                                </li>
                                                <li class="hero__recentbuilds-item-stats-item">
                                                    .45 ACP
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="hero__recentbuilds-item res">

                                        <div class="hero__recentbuilds-cards-toomb">
                                            <div class="hero__recentbuilds-cards-images res">
                                                <img src="../../img/photos/ak1.png" class="hero__recentbuilds-cards-img">
                                            </div>
                                            <h2 class="hero__recentbuilds-item-head">Glock 22 Gen 4</h2>
                                            <div class="hero__recentbuilds-item-block res">
                                                <img src="../../img/photos/avatar.png" class="hero__recentbuilds-item-block-human-images res">
                                                <p class="hero__recentbuilds-item-block-human-name res">troz</p>
                                                <svg class="hero__recentbuilds-item-block-human-icon res">
                                                    <use href="../../img/svg/sprite.svg#icon-post-vieweye"></use>
                                                </svg>
                                                <p class="hero__recentbuilds-item-block-human-vieweye res">12</p>
                                                <svg class="hero__recentbuilds-item-block-human-icon res">
                                                    <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                                </svg>
                                                <p class="hero__recentbuilds-item-block-human-comment">5</p>
                                            </div>
                                            <ul class="hero__recentbuilds-item-stats-list">
                                                <li class="hero__recentbuilds-item-stats-item">
                                                    Remington
                                                </li>
                                                <li class="hero__recentbuilds-item-stats-item">
                                                    1911 R1 Enhanced
                                                </li>
                                                <li class="hero__recentbuilds-item-stats-item">
                                                    .45 ACP
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="searchbuilds__block__trending-blogs">
                                <h2 class="searchbuilds__block__trending-head">
                                    Top blogposts
                                </h2>
                                <ul class="top-blogposts__list res">
                                    <li class="top-blogposts__item">
                                        <a class="top-blogposts__link link res" href="#">
                                            <div class="top-blogposts__thumb res">
                                                <img class="top-blogposts__image res" src="../../img/photos/top-blogposts/top-blogpost-001-ak-12.jpg"
                                                    alt="top blogposts gun image ak-12" width="200" height="200" />
                                            </div>
                                
                                            <div class="top-blogposts-meta res">
                                                <p class="top-blogposts__post-type">Rifle</p>
                                
                                                <p class="top-blogposts__post-title res">Izhmash officially presented the new AK-12</p>
                                
                                                <div class="post top-blogposts__post">
                                                    <span class="post__author-name">troz</span>
                                
                                                    <div class="post__views">
                                                        <svg class="post__views-svg svg" width="16" height="16">
                                                            <use href="./img/svg/sprite.svg#icon-post-vieweye"></use>
                                                        </svg>
                                
                                                        <span class="post__views-count">12</span>
                                                    </div>
                                
                                                    <div class="post__comments">
                                                        <svg class="post__comments-svg svg" width="14" height="14">
                                                            <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                                        </svg>
                                
                                                        <span class="post__comments-count">5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                
                                    <li class="top-blogposts__item">
                                        <a class="top-blogposts__link link res" href="#">
                                            <div class="top-blogposts__thumb res">
                                                <img class="top-blogposts__image res"
                                                    src="../../img/photos/top-blogposts/top-blogpost-002-savage-mark-2.jpg"
                                                    alt="top blogposts gun image savage-mark-2"/>
                                            </div>
                                
                                            <div class="top-blogposts-meta res">
                                                <p class="top-blogposts__post-type">Shotgun</p>
                                
                                                <p class="top-blogposts__post-title res">Savage Mark 2 and a problem of extraction</p>
                                
                                                <div class="post top-blogposts__post">
                                                    <span class="post__author-name">troz</span>
                                
                                                    <div class="post__views">
                                                        <svg class="post__views-svg svg" width="16" height="16">
                                                            <use href="./img/svg/sprite.svg#icon-post-vieweye"></use>
                                                        </svg>
                                
                                                        <span class="post__views-count">12</span>
                                                    </div>
                                
                                                    <div class="post__comments">
                                                        <svg class="post__comments-svg svg" width="14" height="14">
                                                            <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                                        </svg>
                                
                                                        <span class="post__comments-count">5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Most used parts -->
                    <div class="searchbuilds__mostparts">
                        <h1 class="searchbuilds__mostparts-head">
                            Most used parts
                        </h1>
                        <ul class="searchbuilds__mostparts-list">
                            <li class="searchbuilds__mostparts-item">
                                <img src="../../img/photos/catalogs/parts1.png" class="searchbuilds__mostparts-item-img">
                                <ul class="hero__topbuilds-toomb-list res">
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon ">
                                            <use href="../../img/svg/sprite.svg#icon-star-filled"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon ">
                                            <use href="../../img/svg/sprite.svg#icon-star-filled"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                </ul>
                                <h2 class="searchbuilds__mostparts-item-head">
                                    Lower receiver group w/stock mod 0
                                </h2>
                                <p class="searchbuilds__mostparts-item-text">
                                    BCM (Bravo Company USA)
                                </p>
                            </li>
                            <li class="searchbuilds__mostparts-item">
                                <img src="../../img/photos/catalogs/parts2.png" class="searchbuilds__mostparts-item-img">
                                <ul class="hero__topbuilds-toomb-list res">
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon ">
                                            <use href="../../img/svg/sprite.svg#icon-star-filled"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon ">
                                            <use href="../../img/svg/sprite.svg#icon-star-filled"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                </ul>
                                <h2 class="searchbuilds__mostparts-item-head">
                                    Intrafuse T6 rifle stock 6-position collapsible ruger 10/22 standart
                                </h2>
                                <p class="searchbuilds__mostparts-item-text">
                                    LMT (Lewis Machine & Tool)
                                </p>
                            </li>
                            <li class="searchbuilds__mostparts-item">
                                <img src="../../img/photos/catalogs/parts3.png" class="searchbuilds__mostparts-item-img">
                                <ul class="hero__topbuilds-toomb-list res">
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon ">
                                            <use href="../../img/svg/sprite.svg#icon-star-filled"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon ">
                                            <use href="../../img/svg/sprite.svg#icon-star-filled"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                </ul>
                                <h2 class="searchbuilds__mostparts-item-head">
                                    AR15 upper receiver assembly
                                </h2>
                                <p class="searchbuilds__mostparts-item-text">
                                    STAG ARMS LLC
                                </p>
                            </li>
                            <li class="searchbuilds__mostparts-item">
                                <img src="../../img/photos/catalogs/parts4.png" class="searchbuilds__mostparts-item-img">
                                <ul class="hero__topbuilds-toomb-list res">
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon ">
                                            <use href="../../img/svg/sprite.svg#icon-star-filled"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon ">
                                            <use href="../../img/svg/sprite.svg#icon-star-filled"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                    <li class="hero__topbuilds-toomb-item">
                                        <svg class="hero__topbuilds-toomb-item-icon">
                                            <use href="../../img/svg/sprite.svg#icon-star-outline"></use>
                                        </svg>
                                    </li>
                                </ul>
                                <h2 class="searchbuilds__mostparts-item-head">
                                    AR15 Stripped lower Receiver
                                </h2>
                                <p class="searchbuilds__mostparts-item-text">
                                    TAPCO
                                </p>
                            </li>
                        </ul>
                    <ul class="hero__topbuilds-toomb-buttons res">
                        <li class="hero__topbuilds-toomb-buttons-item res">
                            <button class="hero__topbuilds-toomb-item-button res active"></button>
                        </li>
                        <li class="hero__topbuilds-toomb-buttons-item res">
                            <button class="hero__topbuilds-toomb-item-button res"></button>
                        </li>
                        <li class="hero__topbuilds-toomb-buttons-item res">
                            <button class="hero__topbuilds-toomb-item-button res"></button>
                        </li>
                        <li class="hero__topbuilds-toomb-buttons-item res">
                            <button class="hero__topbuilds-toomb-item-button res"></button>
                        </li>
                    </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer -->
        <%= _.template(require('./../includes/footer.html').default)(data) %>
    </body>