<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile-Forums</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="css/style.bundle.css" />
  </head>
  <body>
    <section class="forums section">
      <div class="container">
        <h2 class="section-title forums__title">Forums</h2>
        <ul class="forums__list">
          <li class="forums__item">
            <p class="forums__post-date">Today</p>
            <p class="forums__post-title">
              10 Tips for Choosing <br />
              a Concealed Carry Handgun
            </p>
            <div class="post forums__post">
              <img
                class="post__author-avatar"
                src="../../img/photos/avatar.png"
                alt="Post author avatar"
              />
              <span class="post__author-name">troz</span>

              <div class="post__views">
                <svg class="post__views-svg svg icon-post-eye" width="16" height="16">
                  <use href="./img/sprite.svg#icon-post-eye"></use>
                </svg>
                <span class="post__views-count">12</span>
              </div>

              <div class="post__comments">
                <svg class="post__comments-svg svg icon-post-message" width="14" height="14">
                  <use href="./img/sprite.svg#icon-post-message"></use>
                </svg>
                <span class="post__comments-count">5</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
