<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Guns and weaponry site" />
    <meta name="theme-color" content="#263238" />
    <title>Build page</title>

    <!-- 700 -->
    <link
      rel="preload"
      href="../../fonts/rogan/Rogan-Bold.woff2"
      crossorigin="anonymous"
      as="font"
      type="font/woff2"
    />

    <!-- 400 -->
    <link
      rel="preload"
      href="../../fonts/rogan/Rogan-Regular.woff2"
      crossorigin="anonymous"
      as="font"
      type="font/woff2"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="css/style.bundle.css" />
  </head>
  <body>
    <!-- Header -->
    <%= _.template(require('./../includes/header.html').default)(data) %>
    <!-- Search -->
    <%= _.template(require('./../includes/search.html').default)(data) %>

    <main>
      <section class="build-navigation">
        <!--     Навигация - переиспользовать код Руса с каталога билдов -->
      </section>
      <div class="build-grid">
        <aside class="build-aside"></aside>
        <section class="build section">
          <div class="container">
            <h1>Gun Kelly!</h1>
          </div>
        </section>
      </div>
      <section></section>
    </main>

    <ul class="searchbuilds-list">
      <li class="searchbuilds-link">
        <a href="#">Home</a>
      </li>
      <li class="searchbuilds-link">
        <a href="#">Search Builds</a>
      </li>
    </ul>

    <!--
div1>(aside+section)
aside>
	Карточка - div{mb29}>img+ul>li*3

	div>(h3+ul)
		h3-{Part list}
		Список на 4 карточки
		- ul>li*4>a>(div+div>((ul>li*5)+p+p))
section2
 -->

    <!-- Footer -->
    <%= _.template(require('./../includes/footer.html').default)(data) %>
  </body>
</html>
