<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Guns and weaponry site" />
    <meta name="theme-color" content="#263238" />
    <title>Profile-friends</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="css/style.bundle.css" />
  </head>

  <body class="no-scroll">
    <!-- Header -->
    <%= _.template(require('./../includes/header.html').default)(data) %>
    <!-- Search -->
    <%= _.template(require('./../includes/search.html').default)(data) %>

    <!-- Profile -->
    <div class="profile">
      <div class="profile__hero">
        <div class="profile__hero-toomb">
          <img
            src="../../img/photos/profile/heroprofile.jpg"
            class="profile__hero-img"
            width="1600"
            height="325"
          />
          <div class="profile__hero-backdrop">
            <button class="profile__hero-toomb-button">
              <svg class="profile__hero-toomb-button-icon">
                <use href="../../img/svg/sprite.svg#icon-gallery"></use>
              </svg>
              update cover Photo
            </button>
          </div>
        </div>
        <div class="container">
          <div class="profile__content">
            <div class="profile-friends__block">
              <div class="profile__human">
                <div class="profile__human-toomb">
                  <img
                    src="../../img/photos/profile/avatar.jpg"
                    class="profile__human-img"
                  />
                  <div class="profile__human-backdrop">
                    <button class="profile__human-backdrop-button">
                      <svg class="profile__human-backdrop-button-icon">
                        <use href="../../img/svg/sprite.svg#icon-search"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <h1 class="profile__human-head">Troz</h1>
                <button class="profile__human-button">
                  <svg class="profile__human-button-icon">
                    <use href="../../img/svg/sprite.svg#icon-users-add"></use>
                  </svg>
                  Add to friends
                </button>
              </div>

              <div class="profile__pages">
                <!-- Menu Profile -->
                <ul class="profile__pages-list">
                  <li class="profile__pages-item">
                    <a
                      href="./page-profile.html"
                      class="profile__pages-item-button"
                      >Profile</a
                    >
                  </li>

                  <li class="profile__pages-item">
                    <a
                      href="./page-profile-builds.html"
                      class="profile__pages-item-button"
                      >Builds</a
                    >
                  </li>

                  <li class="profile__pages-item">
                    <a
                      href="./page-profile-forums.html"
                      class="profile__pages-item-button"
                      >Forums</a
                    >
                  </li>

                  <li class="profile__pages-item">
                    <a
                      href="./page-profile-blog.html"
                      class="profile__pages-item-button"
                      >Blogs</a
                    >
                  </li>

                  <li class="profile__pages-item">
                    <a
                      href="./page-profile-friends.html"
                      class="profile__pages-item-button active"
                      >Friends</a
                    >
                  </li>

                  <li class="profile__pages-item">
                    <a
                      href="./page-profile-settings.html"
                      class="profile__pages-item-button"
                      >Settings</a
                    >
                  </li>
                </ul>
                <!-- Next Content -->

                <section class="profile-friends__friends section">
                  <div
                    class="
                      title-wrapper
                      guns__title-wrapper
                      profile-builds__title-wrapper
                    "
                  >
                    <h2
                      class="title-v2 guns__title profile__title section__title"
                    >
                      Friends
                    </h2>
                  </div>

                  <ul class="guns__list profile-friends__list">
                    <li class="profile-friends__item">
                      <div class="profile-friends__thumb">
                        <img
                          class="profile-friends__image"
                          src="../../img/photos/avatars-70x70/avatar-70px-001.jpg"
                          alt="Friend avatar - man in red shirt"
                          width="70"
                          height="70"
                        />

                        <div class="profile-friends__toolbar-overlay">
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                            "
                            type="button"
                          >
                            <svg
                              width="19"
                              height="19"
                              class="profile-builds__toolbar-icon svg"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>

                      <a
                        href="#"
                        class="
                          title-v3
                          guns__post-title
                          profile-friends__friend-name-link
                        "
                      >
                        Alex Berg
                      </a>

                      <p class="profile-friends__friend-friends-count">
                        <span class="profile-friends__friend-number">25</span>
                        friend
                      </p>
                    </li>

                    <li class="profile-friends__item">
                      <div class="profile-friends__thumb">
                        <img
                          class="profile-friends__image"
                          src="../../img/photos/avatars-70x70/avatar-70px-002.jpg"
                          alt="Friend avatar - man with Eiffel Tower on background"
                          width="70"
                          height="70"
                        />

                        <div class="profile-friends__toolbar-overlay">
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                            "
                            type="button"
                          >
                            <svg
                              width="19"
                              height="19"
                              class="profile-builds__toolbar-icon svg"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>

                      <a
                        href="#"
                        class="
                          title-v3
                          guns__post-title
                          profile-friends__friend-name-link
                        "
                      >
                        Insurgent
                      </a>

                      <p class="profile-friends__friend-friends-count">
                        <span class="profile-friends__friend-number">25</span>
                        friend
                      </p>
                    </li>

                    <li class="profile-friends__item">
                      <div class="profile-friends__thumb">
                        <img
                          class="profile-friends__image"
                          src="../../img/photos/avatars-70x70/avatar-70px-003.jpg"
                          alt="Friend avatar - man in gray t-shirt"
                          width="70"
                          height="70"
                        />

                        <div class="profile-friends__toolbar-overlay">
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                            "
                            type="button"
                          >
                            <svg
                              width="19"
                              height="19"
                              class="profile-builds__toolbar-icon svg"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>

                      <a
                        href="#"
                        class="
                          title-v3
                          guns__post-title
                          profile-friends__friend-name-link
                        "
                      >
                        Igor Alexandrov
                      </a>

                      <p class="profile-friends__friend-friends-count">
                        <span class="profile-friends__friend-number">25</span>
                        friend
                      </p>
                    </li>

                    <li class="profile-friends__item">
                      <div class="profile-friends__thumb">
                        <img
                          class="profile-friends__image"
                          src="../../img/photos/avatars-70x70/avatar-70px-004.jpg"
                          alt="Friend avatar - friendly asian woman"
                          width="70"
                          height="70"
                        />

                        <div class="profile-friends__toolbar-overlay">
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                            "
                            type="button"
                          >
                            <svg
                              width="19"
                              height="19"
                              class="profile-builds__toolbar-icon svg"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>

                      <a
                        href="#"
                        class="
                          title-v3
                          guns__post-title
                          profile-friends__friend-name-link
                        "
                      >
                        Irina Zharova
                      </a>

                      <p class="profile-friends__friend-friends-count">
                        <span class="profile-friends__friend-number">25</span>
                        friend
                      </p>
                    </li>

                    <li class="profile-friends__item">
                      <div class="profile-friends__thumb">
                        <img
                          class="profile-friends__image"
                          src="../../img/photos/avatars-70x70/avatar-70px-002.jpg"
                          alt="Friend avatar - man with Eiffel Tower on background"
                          width="70"
                          height="70"
                        />

                        <div class="profile-friends__toolbar-overlay">
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                            "
                            type="button"
                          >
                            <svg
                              width="19"
                              height="19"
                              class="profile-builds__toolbar-icon svg"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>

                      <a
                        href="#"
                        class="
                          title-v3
                          guns__post-title
                          profile-friends__friend-name-link
                        "
                      >
                        Insurgent
                      </a>

                      <p class="profile-friends__friend-friends-count">
                        <span class="profile-friends__friend-number">25</span>
                        friend
                      </p>
                    </li>

                    <li class="profile-friends__item">
                      <div class="profile-friends__thumb">
                        <img
                          class="profile-friends__image"
                          src="../../img/photos/avatars-70x70/avatar-70px-004.jpg"
                          alt="Friend avatar - friendly asian woman"
                          width="70"
                          height="70"
                        />

                        <div class="profile-friends__toolbar-overlay">
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                            "
                            type="button"
                          >
                            <svg
                              width="19"
                              height="19"
                              class="profile-builds__toolbar-icon svg"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>

                      <a
                        href="#"
                        class="
                          title-v3
                          guns__post-title
                          profile-friends__friend-name-link
                        "
                      >
                        Irina Zharova
                      </a>

                      <p class="profile-friends__friend-friends-count">
                        <span class="profile-friends__friend-number">25</span>
                        friend
                      </p>
                    </li>

                    <li class="profile-friends__item">
                      <div class="profile-friends__thumb">
                        <img
                          class="profile-friends__image"
                          src="../../img/photos/avatars-70x70/avatar-70px-001.jpg"
                          alt="Friend avatar - man in red shirt"
                          width="70"
                          height="70"
                        />

                        <div class="profile-friends__toolbar-overlay">
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                            "
                            type="button"
                          >
                            <svg
                              width="19"
                              height="19"
                              class="profile-builds__toolbar-icon svg"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>

                      <a
                        href="#"
                        class="
                          title-v3
                          guns__post-title
                          profile-friends__friend-name-link
                        "
                      >
                        Alex Berg
                      </a>

                      <p class="profile-friends__friend-friends-count">
                        <span class="profile-friends__friend-number">25</span>
                        friend
                      </p>
                    </li>

                    <li class="profile-friends__item">
                      <div class="profile-friends__thumb">
                        <img
                          class="profile-friends__image"
                          src="../../img/photos/avatars-70x70/avatar-70px-003.jpg"
                          alt="Friend avatar - man in gray t-shirt"
                          width="70"
                          height="70"
                        />

                        <div class="profile-friends__toolbar-overlay">
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                            "
                            type="button"
                          >
                            <svg
                              width="19"
                              height="19"
                              class="profile-builds__toolbar-icon svg"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>

                      <a
                        href="#"
                        class="
                          title-v3
                          guns__post-title
                          profile-friends__friend-name-link
                        "
                      >
                        Igor Alexandrov
                      </a>

                      <p class="profile-friends__friend-friends-count">
                        <span class="profile-friends__friend-number">25</span>
                        friend
                      </p>
                    </li>
                  </ul>

                  <div
                    class="
                      searchbuilds__pagin
                      profile-builds__searchbuilds__pagin
                      res
                    "
                  >
                    <button class="searchbuilds__pagin-back" type="button">
                      <svg class="searchbuilds__pagin-back-icon">
                        <use
                          href="../../img/svg/sprite.svg#icon-arrow-right"
                        ></use>
                      </svg>
                      <p class="searchbuilds__pagin-back-text">back</p>
                    </button>

                    <ul class="searchbuilds__pagin-list">
                      <li class="searchbuilds__pagin-item">
                        <button class="searchbuilds__pagin-item-button">
                          1
                        </button>
                      </li>
                      <li class="searchbuilds__pagin-item">
                        <button class="searchbuilds__pagin-item-button">
                          2
                        </button>
                      </li>
                      <li class="searchbuilds__pagin-item">
                        <button class="searchbuilds__pagin-item-button">
                          3
                        </button>
                      </li>
                      <li class="searchbuilds__pagin-item">
                        <button class="searchbuilds__pagin-item-button">
                          4
                        </button>
                      </li>
                      <li class="searchbuilds__pagin-item">
                        <button class="searchbuilds__pagin-item-button">
                          5
                        </button>
                      </li>
                      <li class="searchbuilds__pagin-item">
                        <button class="searchbuilds__pagin-item-button">
                          6
                        </button>
                      </li>
                      <li class="searchbuilds__pagin-item">
                        <button class="searchbuilds__pagin-item-button">
                          7
                        </button>
                      </li>
                      <li class="searchbuilds__pagin-item">
                        <button class="searchbuilds__pagin-item-button">
                          8
                        </button>
                      </li>
                      <li class="searchbuilds__pagin-item">
                        <button class="searchbuilds__pagin-item-button">
                          9
                        </button>
                      </li>
                      <li class="searchbuilds__pagin-item">
                        <button class="searchbuilds__pagin-item-button">
                          ...
                        </button>
                      </li>
                      <li class="searchbuilds__pagin-item">
                        <button class="searchbuilds__pagin-item-button">
                          45
                        </button>
                      </li>
                    </ul>

                    <button class="searchbuilds__pagin-next" type="button">
                      <p class="searchbuilds__pagin-next-text">forward</p>
                      <svg class="searchbuilds__pagin-next-icon">
                        <use
                          href="../../img/svg/sprite.svg#icon-arrow-right"
                        ></use>
                      </svg>
                    </button>
                  </div>
                </section>
              </div>
            </div>
            <!-- Trending -->
            <div
              class="
                searchbuilds__block__trending
                res
                profile-friends__searchbuilds-block-trending
              "
            >
              <div class="searchbuilds__block__trending-builds">
                <h2 class="searchbuilds__block__trending-head">Top builds</h2>
                <ul class="hero__recentbuilds-list res">
                  <li class="hero__recentbuilds-item res">
                    <div class="hero__recentbuilds-cards-toomb">
                      <div class="hero__recentbuilds-cards-images res">
                        <img
                          src="../../img/photos/pistol1.png"
                          class="hero__recentbuilds-cards-img"
                        />
                      </div>
                      <h2
                        class="
                          hero__recentbuilds-item-head
                          profile__recentbuilds-item-head
                        "
                      >
                        Glock 22 Gen 4
                      </h2>
                      <div class="hero__recentbuilds-item-block res">
                        <img
                          src="../../img/photos/avatar.png"
                          class="hero__recentbuilds-item-block-human-images res"
                        />
                        <p class="hero__recentbuilds-item-block-human-name res">
                          troz
                        </p>
                        <svg
                          class="hero__recentbuilds-item-block-human-icon res"
                        >
                          <use
                            href="../../img/svg/sprite.svg#icon-post-vieweye"
                          ></use>
                        </svg>
                        <p
                          class="
                            hero__recentbuilds-item-block-human-vieweye
                            res
                          "
                        >
                          12
                        </p>
                        <svg
                          class="hero__recentbuilds-item-block-human-icon res"
                        >
                          <use
                            href="../../img/svg/sprite.svg#icon-post-message"
                          ></use>
                        </svg>
                        <p class="hero__recentbuilds-item-block-human-comment">
                          5
                        </p>
                      </div>
                      <ul class="hero__recentbuilds-item-stats-list">
                        <li class="hero__recentbuilds-item-stats-item">
                          Remington
                        </li>
                        <li class="hero__recentbuilds-item-stats-item">
                          1911 R1 Enhanced
                        </li>
                        <li class="hero__recentbuilds-item-stats-item">
                          .45 ACP
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="hero__recentbuilds-item res">
                    <div class="hero__recentbuilds-cards-toomb">
                      <div class="hero__recentbuilds-cards-images res">
                        <img
                          src="../../img/photos/ak1.png"
                          class="hero__recentbuilds-cards-img"
                        />
                      </div>
                      <h2
                        class="
                          hero__recentbuilds-item-head
                          profile__recentbuilds-item-head
                        "
                      >
                        Glock 22 Gen 4
                      </h2>
                      <div class="hero__recentbuilds-item-block res">
                        <img
                          src="../../img/photos/avatar.png"
                          class="hero__recentbuilds-item-block-human-images res"
                        />
                        <p class="hero__recentbuilds-item-block-human-name res">
                          troz
                        </p>
                        <svg
                          class="hero__recentbuilds-item-block-human-icon res"
                        >
                          <use
                            href="../../img/svg/sprite.svg#icon-post-vieweye"
                          ></use>
                        </svg>
                        <p
                          class="
                            hero__recentbuilds-item-block-human-vieweye
                            res
                          "
                        >
                          12
                        </p>
                        <svg
                          class="hero__recentbuilds-item-block-human-icon res"
                        >
                          <use
                            href="../../img/svg/sprite.svg#icon-post-message"
                          ></use>
                        </svg>
                        <p class="hero__recentbuilds-item-block-human-comment">
                          5
                        </p>
                      </div>
                      <ul class="hero__recentbuilds-item-stats-list">
                        <li class="hero__recentbuilds-item-stats-item">
                          Remington
                        </li>
                        <li class="hero__recentbuilds-item-stats-item">
                          1911 R1 Enhanced
                        </li>
                        <li class="hero__recentbuilds-item-stats-item">
                          .45 ACP
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="searchbuilds__block__trending-now">
                <h2 class="searchbuilds__block__trending-head">Trending now</h2>
                <ul class="trending-now__list res">
                  <li class="trending-now__item">
                    <a class="trending-now__link" href="#">
                      <h3 class="trending-now__post-title">
                        10 Tips for Choosing <br />
                        a Concealed Carry Handgun
                      </h3>
                      <div class="trending-now__thumb res">
                        <img
                          class="trending-now__author-avatar res"
                          src="./img/photos/avatars-40x40/avatar-001-man-gray-shirt.jpg"
                          alt="Man-gray-shirt"
                        />

                        <p class="trending-now__post-meta res">
                          <span class="trending-now__author-name">troz</span>,
                          <span class="trending-now__post-date">today</span>
                        </p>
                      </div>
                    </a>
                  </li>

                  <li class="trending-now__item">
                    <a class="trending-now__link" href="#">
                      <h3 class="trending-now__post-title">
                        Firearms definitions and requirements
                      </h3>
                      <div class="trending-now__thumb res">
                        <img
                          class="trending-now__author-avatar res"
                          src="./img/photos/avatars-40x40/avatar-002-man-red-tshirt.jpg"
                          alt="Man-red-tshirt"
                        />
                        <p class="trending-now__post-meta res">
                          <span class="trending-now__author-name">troz</span>,
                          <span class="trending-now__post-date">yesterday</span>
                        </p>
                      </div>
                    </a>
                  </li>

                  <li class="trending-now__item">
                    <a class="trending-now__link" href="#">
                      <h3 class="trending-now__post-title">
                        New Members: Please Read Guidelines
                      </h3>
                      <div class="trending-now__thumb res">
                        <img
                          class="trending-now__author-avatar res"
                          src="./img/photos/avatars-40x40/avatar-003-man-white-tshirt.jpg"
                          alt="Man-white-tshirt"
                        />

                        <p class="trending-now__post-meta res">
                          <span class="trending-now__author-name">troz</span>,
                          <span class="trending-now__post-date">yesterday</span>
                        </p>
                      </div>
                    </a>
                  </li>

                  <li class="trending-now__item">
                    <a class="trending-now__link" href="#">
                      <h3 class="trending-now__post-title">
                        Pencil Barrel Whip
                      </h3>
                      <div class="trending-now__thumb res">
                        <img
                          class="trending-now__author-avatar res"
                          src="./img/photos/avatars-40x40/avatar-004-man-striped-tshirt.jpg"
                          alt="Man-striped-tshirt"
                        />

                        <p class="trending-now__post-meta res">
                          <span class="trending-now__author-name">troz</span>,
                          <span class="trending-now__post-date">today</span>
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="searchbuilds__block__trending-blogs">
                <h2 class="searchbuilds__block__trending-head">
                  Top blogposts
                </h2>
                <ul class="top-blogposts__list res">
                  <li class="top-blogposts__item">
                    <a class="top-blogposts__link link res" href="#">
                      <div class="top-blogposts__thumb res">
                        <img
                          class="top-blogposts__image res"
                          src="../../img/photos/top-blogposts/top-blogpost-001-ak-12.jpg"
                          alt="top blogposts gun image ak-12"
                          width="200"
                          height="200"
                        />
                      </div>

                      <div class="top-blogposts-meta res">
                        <p class="top-blogposts__post-type">Rifle</p>

                        <p class="top-blogposts__post-title res">
                          Izhmash officially presented the new AK-12
                        </p>

                        <div class="post top-blogposts__post">
                          <span class="post__author-name">troz</span>

                          <div class="post__views">
                            <svg
                              class="post__views-svg svg"
                              width="16"
                              height="16"
                            >
                              <use
                                href="./img/svg/sprite.svg#icon-post-vieweye"
                              ></use>
                            </svg>

                            <span class="post__views-count">12</span>
                          </div>

                          <div class="post__comments">
                            <svg
                              class="post__comments-svg svg"
                              width="14"
                              height="14"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-post-message"
                              ></use>
                            </svg>

                            <span class="post__comments-count">5</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="top-blogposts__item">
                    <a class="top-blogposts__link link res" href="#">
                      <div class="top-blogposts__thumb res">
                        <img
                          class="top-blogposts__image res"
                          src="../../img/photos/top-blogposts/top-blogpost-002-savage-mark-2.jpg"
                          alt="top blogposts gun image savage-mark-2"
                        />
                      </div>

                      <div class="top-blogposts-meta res">
                        <p class="top-blogposts__post-type">Shotgun</p>

                        <p class="top-blogposts__post-title res">
                          Savage Mark 2 and a problem of extraction
                        </p>

                        <div class="post top-blogposts__post">
                          <span class="post__author-name">troz</span>

                          <div class="post__views">
                            <svg
                              class="post__views-svg svg"
                              width="16"
                              height="16"
                            >
                              <use
                                href="./img/svg/sprite.svg#icon-post-vieweye"
                              ></use>
                            </svg>

                            <span class="post__views-count">12</span>
                          </div>

                          <div class="post__comments">
                            <svg
                              class="post__comments-svg svg"
                              width="14"
                              height="14"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-post-message"
                              ></use>
                            </svg>

                            <span class="post__comments-count">5</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%= _.template(require('./../includes/footer.html').default)(data) %>
  </body>
</html>
