<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Guns and weaponry site" />
    <meta name="theme-color" content="#263238" />
    <title>Parts</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="css/style.bundle.css" />

    <link rel="preload" href="./sass/fonts/CaviarDreams.woff2" crossorigin="anonymous" as="font" />

    <!-- 700 -->
    <link
      rel="preload"
      href="../../fonts/rogan/Rogan-Bold.woff2"
      crossorigin="anonymous"
      as="font"
      type="font/woff2"
    />

    <!-- 400 -->
    <link
      rel="preload"
      href="../../fonts/rogan/Rogan-Regular.woff2"
      crossorigin="anonymous"
      as="font"
      type="font/woff2"
    />
  </head>

  <body class="no-scroll">
    <!-- Header -->
    <%= _.template(require('./../includes/header.html').default)(data) %>
    <!-- Search -->
    <%= _.template(require('./../includes/search.html').default)(data) %>

    <!-- Page Parts -->
    <div class="parts">

        <div class="container">
            <div class="parts__content">
                <ul class="searchbuilds-list">
                    <li class="searchbuilds-link">
                        <a href="">Home</a>
                    </li>
                    <li class="searchbuilds-link">
                        <a href="">Parts</a>
                    </li>
                    <li class="searchbuilds-link">
                        <a href="">RMR RM06</a>
                    </li>
                    </ul>
                    <div class="parts__block">
                        <div class="parts__part">
                            <div class="parts__part__two">
                            <div class="parts__part__toomb">
                                <img src="../../img/photos/catalogs/parts5.png" class="parts__part-img">
                            </div>
                            <div class="parts__part__info">
                                <h1 class="parts__part__info-head">
                                    RMR RM06
                                </h1>
                                <button type="button" class="parts__part__info-button">
                                    manufacturer
                                </button>
                                <div class="parts__part__info-descript">
                                    <p class="parts__part__info-descript-text">
                                        With eight available brightness settings, the reticle can be manually adjusted by pressing the plus or minus buttons
                                        on
                                        either side of the unit. To switch to auto adjust mode simply press both buttons simultaneously and release. To save
                                        battery life turn the optic off by pressing both buttons simultaneously and holding for 3 seconds.
                                    </p>
                                    <button type="button" class="parts__part__info-all">
                                        Show all
                                    </button>
                                </div>
                                <h2 class="parts__part__info-sharehead">
                                    Share part
                                </h2>
                                <ul class="parts__part__info-list">
                                    <li class="parts__part__info-item">
                                        <button type="button" class="parts__part__info-item-button">
                                            <svg class="parts__part__info-item-button-icon">
                                                <use href="../../img/svg/sprite.svg#icon-facebook"></use>
                                            </svg>
                                            Facebook
                                        </button>
                                    </li>
                                    <li class="parts__part__info-item">
                                        <button type="button" class="parts__part__info-item-button">
                                            <svg class="parts__part__info-item-button-icon">
                                                <use href="../../img/svg/sprite.svg#icon-twitter"></use>
                                            </svg>
                                            Twitter
                                        </button>
                                    </li>
                                    <li class="parts__part__info-item">
                                        <button type="button" class="parts__part__info-item-button">
                                            <svg class="parts__part__info-item-button-icon">
                                                <use href="../../img/svg/sprite.svg#icon-plus-bold"></use>
                                            </svg>
                                            More
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            </div>
                            <div class="title-wrapper guns__title-wrapper profile__title-wrapper">
                                <h2 class="title-v2 guns__title profile__title section__title">Builds</h2>
                            </div>

                            <ul class="guns__list profile__list">
                                <li class="guns__item profile__item">
                                    <a class="guns__link profile__link" href="#">
                                        <div class="guns__thumb profile__thumb">
                                            <img class="guns__image profile__image" src="../../img/photos/rifle/rifle-001.jpg" alt="Gun image"
                                                width="277" height="200" />
                                        </div>

                                        <div class="guns__post profile__post">
                                            <h3 class="title-v3 guns__post-title profile__post-title">
                                                Remington 700 Rebuild
                                            </h3>

                                            <div class="guns__post-meta profile__post-meta">
                                                <div class="guns__avatar-thumb profile__avatar-thumb">
                                                    <img class="guns__author-avatar profile__author-avatar" src="../../img/photos/avatar.jpg"
                                                        alt="Author avatar - man in white t-shirt" width="25" height="25" />
                                                </div>

                                                <span class="guns__author-name profile__author-name">troz</span>

                                                <div class="post__views">
                                                    <svg class="post__views-svg svg" width="16" height="16">
                                                        <use href="./img/svg/sprite.svg#icon-post-vieweye"></use>
                                                    </svg>

                                                    <span class="post__views-count">12</span>
                                                </div>

                                                <div class="post__comments">
                                                    <svg class="post__comments-svg svg" width="14" height="14">
                                                        <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                                    </svg>

                                                    <span class="post__comments-count">5</span>
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="guns__build profile__build">
                                            <li class="guns__build-item profile__build-item">
                                                <span class="guns__build-tag">Remington</span>
                                            </li>
                                            <li class="guns__build-item profile__build-item">
                                                <span class="guns__build-tag">1911 R1 Enhanced</span>
                                            </li>
                                            <li class="guns__build-item profile__build-item">
                                                <span class="guns__build-tag">.45 ACP</span>
                                            </li>
                                        </ul>
                                    </a>
                                </li>

                                <li class="guns__item profile__item">
                                    <a class="guns__link profile__link" href="#">
                                        <div class="guns__thumb profile__thumb">
                                            <img class="guns__image profile__image" src="../../img/photos/rifle/rifle-002.jpg" alt="Rifle image"
                                                width="277" height="200" />
                                        </div>

                                        <div class="guns__post profile__post">
                                            <h3 class="title-v3 guns__post-title profile__post-title">
                                                Accuracy Int’l AT 308
                                            </h3>

                                            <div class="guns__post-meta profile__post-meta">
                                                <div class="guns__avatar-thumb profile__avatar-thumb">
                                                    <img class="guns__author-avatar profile__author-avatar" src="../../img/photos/avatar.jpg"
                                                        alt="Author avatar - man in white t-shirt" width="25" height="25" />
                                                </div>

                                                <span class="guns__author-name profile__author-name">troz</span>

                                                <div class="post__views">
                                                    <svg class="post__views-svg svg" width="16" height="16">
                                                        <use href="./img/svg/sprite.svg#icon-post-vieweye"></use>
                                                    </svg>

                                                    <span class="post__views-count">12</span>
                                                </div>

                                                <div class="post__comments">
                                                    <svg class="post__comments-svg svg" width="14" height="14">
                                                        <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                                    </svg>

                                                    <span class="post__comments-count">5</span>
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="guns__build profile__build">
                                            <li class="guns__build-item profile__build-item">
                                                <span class="guns__build-tag">Remington</span>
                                            </li>
                                            <li class="guns__build-item profile__build-item">
                                                <span class="guns__build-tag">1911 R1 Enhanced</span>
                                            </li>
                                            <li class="guns__build-item profile__build-item">
                                                <span class="guns__build-tag">.45 ACP</span>
                                            </li>
                                        </ul>
                                    </a>
                                </li>

                                <li class="guns__item profile__item">
                                    <a class="guns__link profile__link" href="#">
                                        <div class="guns__thumb profile__thumb">
                                            <img class="guns__image profile__image" src="../../img/photos/rifle/rifle-003.jpg" alt="Rifle image"
                                                width="277" height="200" />
                                        </div>

                                        <div class="guns__post profile__post">
                                            <h3 class="title-v3 guns__post-title profile__post-title">
                                                Golden Anniversary
                                            </h3>

                                            <div class="guns__post-meta profile__post-meta">
                                                <div class="guns__avatar-thumb profile__avatar-thumb">
                                                    <img class="guns__author-avatar profile__author-avatar" src="../../img/photos/avatar.jpg"
                                                        alt="Author avatar - man in white t-shirt" width="25" height="25" />
                                                </div>

                                                <span class="guns__author-name profile__author-name">troz</span>

                                                <div class="post__views">
                                                    <svg class="post__views-svg svg" width="16" height="16">
                                                        <use href="./img/svg/sprite.svg#icon-post-vieweye"></use>
                                                    </svg>

                                                    <span class="post__views-count">12</span>
                                                </div>

                                                <div class="post__comments">
                                                    <svg class="post__comments-svg svg" width="14" height="14">
                                                        <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                                    </svg>

                                                    <span class="post__comments-count">5</span>
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="guns__build profile__build">
                                            <li class="guns__build-item profile__build-item">
                                                <span class="guns__build-tag">Remington</span>
                                            </li>
                                            <li class="guns__build-item profile__build-item">
                                                <span class="guns__build-tag">1911 R1 Enhanced</span>
                                            </li>
                                            <li class="guns__build-item profile__build-item">
                                                <span class="guns__build-tag">.45 ACP</span>
                                            </li>
                                        </ul>
                                    </a>
                                </li>
                            </ul>
                            <button class="comments__show-more-btn profile__comments-show-more-btn" type="button">
                                Show all
                            </button>
                            <div class="comments-wrapper build__comments-wrapper res">
              <h2 class="title-v2 build__title build__comments-title">
                Comments <span class="build__comments-count">25</span>
              </h2>

              <form class="comments__form build__comments__form">
                <label
                  class="comments-review-label build__comments-review-label"
                  aria-label="Enter your build review"
                >
                  <textarea
                    class="comments__review build__comments-review"
                    name="build__review"
                    placeholder="Enter your review"
                  ></textarea>
                </label>

                <button class="build__comments-submit-review-btn" type="submit">Post</button>
              </form>

              <ul class="comments__list build__comments-list">
                <li class="comments__item build__comments-item">
                  <div class="guns__post-meta build__post-meta build__comments-post-meta">
                    <div class="build__avatar-thumb build__comments-avatar-thumb">
                      <img
                        class="guns__author-avatar build__author-avatar"
                        src="../../img/photos/avatars-30x30/avatar-30px-001.jpg"
                        alt="Author avatar - man in white t-shirt"
                        width="30"
                        height="30"
                      />
                    </div>

                    <span class="comments__author-name build__comments-author-name">Alexander</span>
                  </div>

                  <p class="comments__posted-review build__comments-posted-review">
                    I found a 2007 study on effects of hand sanitizers on blood alcohol level in
                    adults. The 12 subjects applied 4 mL of hand sanitizer for 30 seconds per
                    application, 20 applications over a 30 min period (total exposure time 10 min).
                  </p>

                  <button
                    class="comments__edit-review-btn build__comments-edit-review-btn"
                    type="button"
                  >
                    Edit
                  </button>

                  <span class="comments__posted-date">11 December 2021</span>
                </li>

                <li class="comments__item build__comments-item">
                  <div class="guns__post-meta build__post-meta build__comments-post-meta">
                    <div class="build__avatar-thumb build__comments-avatar-thumb">
                      <img
                        class="guns__author-avatar build__author-avatar"
                        src="../../img/photos/avatars-30x30/avatar-30px-002.jpg"
                        alt="Author avatar - man in red shirt"
                        width="30"
                        height="30"
                      />
                    </div>

                    <span class="comments__author-name build__comments-author-name">Boris</span>
                  </div>

                  <p class="comments__posted-review build__comments-posted-review">
                    Alcohol based exposures through inadvertently consuming hand sanitizer, have
                    been observed to produce more negative side effects for children than
                    non-alcohol based.
                  </p>

                  <span class="comments__posted-date">11 December 2021</span>
                </li>

                <li class="comments__item build__comments-item">
                  <div class="guns__post-meta build__post-meta build__comments-post-meta">
                    <div class="build__avatar-thumb build__comments-avatar-thumb">
                      <img
                        class="guns__author-avatar build__author-avatar"
                        src="../../img/photos/avatars-30x30/avatar-30px-003.jpg"
                        alt="Author avatar - man in striped shirt"
                        width="30"
                        height="30"
                      />
                    </div>

                    <span class="comments__author-name build__comments-author-name">Valentin</span>
                  </div>

                  <p class="comments__posted-review build__comments-posted-review">
                    Twenty 30-second applications within half an hour is well in excess of almost
                    anyone’s use of a sanitizer.
                  </p>

                  <span class="comments__posted-date">11 December 2021</span>
                </li>
              </ul>

              <button class="comments__show-more-btn build__comments-show-more-btn" type="button">
                Show more
              </button>
                            </div>

                        </div>
                        <div class="searchbuilds__block__trending res">
                          <div class="searchbuilds__block__trending-builds">
                            <h2 class="searchbuilds__block__trending-head">Top builds</h2>
                            <ul class="hero__recentbuilds-list res">
                              <li class="hero__recentbuilds-item res">
                                <div class="hero__recentbuilds-cards-toomb">
                                  <div class="hero__recentbuilds-cards-images res">
                                    <img src="../../img/photos/pistol1.png" class="hero__recentbuilds-cards-img" />
                                  </div>
                                  <h2 class="hero__recentbuilds-item-head profile__recentbuilds-item-head">
                                    Glock 22 Gen 4
                                  </h2>
                                  <div class="hero__recentbuilds-item-block res">
                                    <img src="../../img/photos/avatar.png" class="hero__recentbuilds-item-block-human-images res" />
                                    <p class="hero__recentbuilds-item-block-human-name res">troz</p>
                                    <svg class="hero__recentbuilds-item-block-human-icon res">
                                      <use href="../../img/svg/sprite.svg#icon-post-vieweye"></use>
                                    </svg>
                                    <p class="hero__recentbuilds-item-block-human-vieweye res">12</p>
                                    <svg class="hero__recentbuilds-item-block-human-icon res">
                                      <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                    </svg>
                                    <p class="hero__recentbuilds-item-block-human-comment">5</p>
                                  </div>
                                  <ul class="hero__recentbuilds-item-stats-list">
                                    <li class="hero__recentbuilds-item-stats-item">Remington</li>
                                    <li class="hero__recentbuilds-item-stats-item">1911 R1 Enhanced</li>
                                    <li class="hero__recentbuilds-item-stats-item">.45 ACP</li>
                                  </ul>
                                </div>
                              </li>
                              <li class="hero__recentbuilds-item res">
                                <div class="hero__recentbuilds-cards-toomb">
                                  <div class="hero__recentbuilds-cards-images res">
                                    <img src="../../img/photos/ak1.png" class="hero__recentbuilds-cards-img" />
                                  </div>
                                  <h2 class="hero__recentbuilds-item-head profile__recentbuilds-item-head">
                                    Glock 22 Gen 4
                                  </h2>
                                  <div class="hero__recentbuilds-item-block res">
                                    <img src="../../img/photos/avatar.png" class="hero__recentbuilds-item-block-human-images res" />
                                    <p class="hero__recentbuilds-item-block-human-name res">troz</p>
                                    <svg class="hero__recentbuilds-item-block-human-icon res">
                                      <use href="../../img/svg/sprite.svg#icon-post-vieweye"></use>
                                    </svg>
                                    <p class="hero__recentbuilds-item-block-human-vieweye res">12</p>
                                    <svg class="hero__recentbuilds-item-block-human-icon res">
                                      <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                    </svg>
                                    <p class="hero__recentbuilds-item-block-human-comment">5</p>
                                  </div>
                                  <ul class="hero__recentbuilds-item-stats-list">
                                    <li class="hero__recentbuilds-item-stats-item">Remington</li>
                                    <li class="hero__recentbuilds-item-stats-item">1911 R1 Enhanced</li>
                                    <li class="hero__recentbuilds-item-stats-item">.45 ACP</li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="searchbuilds__block__trending-now">
                            <h2 class="searchbuilds__block__trending-head">Trending now</h2>
                            <ul class="trending-now__list res">
                              <li class="trending-now__item">
                                <a class="trending-now__link" href="#">
                                  <h3 class="trending-now__post-title">
                                    10 Tips for Choosing <br />
                                    a Concealed Carry Handgun
                                  </h3>
                                  <div class="trending-now__thumb res">
                                    <img class="trending-now__author-avatar res" src="./img/photos/avatars-40x40/avatar-001-man-gray-shirt.jpg"
                                      alt="Man-gray-shirt" />

                                    <p class="trending-now__post-meta res">
                                      <span class="trending-now__author-name">troz</span>,
                                      <span class="trending-now__post-date">today</span>
                                    </p>
                                  </div>
                                </a>
                              </li>

                              <li class="trending-now__item">
                                <a class="trending-now__link" href="#">
                                  <h3 class="trending-now__post-title">
                                    Firearms definitions and requirements
                                  </h3>
                                  <div class="trending-now__thumb res">
                                    <img class="trending-now__author-avatar res" src="./img/photos/avatars-40x40/avatar-002-man-red-tshirt.jpg"
                                      alt="Man-red-tshirt" />
                                    <p class="trending-now__post-meta res">
                                      <span class="trending-now__author-name">troz</span>,
                                      <span class="trending-now__post-date">yesterday</span>
                                    </p>
                                  </div>
                                </a>
                              </li>

                              <li class="trending-now__item">
                                <a class="trending-now__link" href="#">
                                  <h3 class="trending-now__post-title">New Members: Please Read Guidelines</h3>
                                  <div class="trending-now__thumb res">
                                    <img class="trending-now__author-avatar res"
                                      src="./img/photos/avatars-40x40/avatar-003-man-white-tshirt.jpg" alt="Man-white-tshirt" />

                                    <p class="trending-now__post-meta res">
                                      <span class="trending-now__author-name">troz</span>,
                                      <span class="trending-now__post-date">yesterday</span>
                                    </p>
                                  </div>
                                </a>
                              </li>

                              <li class="trending-now__item">
                                <a class="trending-now__link" href="#">
                                  <h3 class="trending-now__post-title">Pencil Barrel Whip</h3>
                                  <div class="trending-now__thumb res">
                                    <img class="trending-now__author-avatar res"
                                      src="./img/photos/avatars-40x40/avatar-004-man-striped-tshirt.jpg" alt="Man-striped-tshirt" />

                                    <p class="trending-now__post-meta res">
                                      <span class="trending-now__author-name">troz</span>,
                                      <span class="trending-now__post-date">today</span>
                                    </p>
                                  </div>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="searchbuilds__block__trending-blogs">
                            <h2 class="searchbuilds__block__trending-head">Top blogposts</h2>
                            <ul class="top-blogposts__list res">
                              <li class="top-blogposts__item">
                                <a class="top-blogposts__link link res" href="#">
                                  <div class="top-blogposts__thumb res">
                                    <img class="top-blogposts__image res" src="../../img/photos/top-blogposts/top-blogpost-001-ak-12.jpg"
                                      alt="top blogposts gun image ak-12" width="200" height="200" />
                                  </div>

                                  <div class="top-blogposts-meta res">
                                    <p class="top-blogposts__post-type">Rifle</p>

                                    <p class="top-blogposts__post-title res">
                                      Izhmash officially presented the new AK-12
                                    </p>

                                    <div class="post top-blogposts__post">
                                      <span class="post__author-name">troz</span>

                                      <div class="post__views">
                                        <svg class="post__views-svg svg" width="16" height="16">
                                          <use href="./img/svg/sprite.svg#icon-post-vieweye"></use>
                                        </svg>

                                        <span class="post__views-count">12</span>
                                      </div>

                                      <div class="post__comments">
                                        <svg class="post__comments-svg svg" width="14" height="14">
                                          <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                        </svg>

                                        <span class="post__comments-count">5</span>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </li>

                              <li class="top-blogposts__item">
                                <a class="top-blogposts__link link res" href="#">
                                  <div class="top-blogposts__thumb res">
                                    <img class="top-blogposts__image res"
                                      src="../../img/photos/top-blogposts/top-blogpost-002-savage-mark-2.jpg"
                                      alt="top blogposts gun image savage-mark-2" />
                                  </div>

                                  <div class="top-blogposts-meta res">
                                    <p class="top-blogposts__post-type">Shotgun</p>

                                    <p class="top-blogposts__post-title res">
                                      Savage Mark 2 and a problem of extraction
                                    </p>

                                    <div class="post top-blogposts__post">
                                      <span class="post__author-name">troz</span>

                                      <div class="post__views">
                                        <svg class="post__views-svg svg" width="16" height="16">
                                          <use href="./img/svg/sprite.svg#icon-post-vieweye"></use>
                                        </svg>

                                        <span class="post__views-count">12</span>
                                      </div>

                                      <div class="post__comments">
                                        <svg class="post__comments-svg svg" width="14" height="14">
                                          <use href="../../img/svg/sprite.svg#icon-post-message"></use>
                                        </svg>

                                        <span class="post__comments-count">5</span>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%= _.template(require('./../includes/footer.html').default)(data) %>
  </body>
</html>
