<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Guns and weaponry site" />
    <meta name="theme-color" content="#263238" />
    <title>Add build page</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="css/style.bundle.css" />
  </head>
  <body class="no-scroll">
    <!-- Header -->
    <%= _.template(require('./../includes/header.html').default)(data) %>
    <!-- Search -->
    <%= _.template(require('./../includes/search.html').default)(data) %>

    <div class="container build__searchbuilds-container">
      <ul class="searchbuilds-list">
        <li class="searchbuilds-link">
          <a class="searchbuilds-link-a" href="./">Home</a>
        </li>

        <li class="searchbuilds-link">
          <a class="searchbuilds-link-a" href="./page-add-build.html"
            >Add build</a
          >
        </li>
      </ul>
    </div>

    <main>
      <section class="page-add-build__section section">
        <div class="container">
          <h1 class="title-v2 page-add-build__title">Add build</h1>

          <ul class="breadcrumbs__list page-add-build__breadcrumbs-list">
            <li class="breadcrumbs__item page-add-build__breadcrumbs-item">
              <button
                class="breadcrumbs__btn page-add-build__breadcrumbs-btn"
                type="button"
              >
                <svg
                  class="
                    breadcrumbs__svg
                    icon-checkbox-checked
                    page-add-build__breadcrumbs-svg
                  "
                  width="26"
                  height="26"
                >
                  <use
                    href="../../img/svg/sprite.svg#icon-checkbox-checked"
                  ></use>
                </svg>

                <span class="breadcrumbs__btn-text">Main features</span>
              </button>

              <svg
                class="breadcrumbs__next-page-arrow-svg"
                width="8"
                height="8"
              >
                <use href="../../img/svg/sprite.svg#icon-down-arrow"></use>
              </svg>
            </li>

            <li class="breadcrumbs__item page-add-build__breadcrumbs-item">
              <button
                class="breadcrumbs__btn page-add-build__breadcrumbs-btn"
                type="button"
              >
                <svg
                  class="
                    breadcrumbs__svg
                    icon-dot-in-box
                    page-add-build__breadcrumbs-svg
                  "
                  width="26"
                  height="26"
                >
                  <use href="../../img/svg/sprite.svg#icon-dot-in-box"></use>
                </svg>

                <span class="breadcrumbs__btn-text current">Build options</span>
              </button>

              <svg
                class="breadcrumbs__next-page-arrow-svg"
                width="8"
                height="8"
              >
                <use href="../../img/svg/sprite.svg#icon-down-arrow"></use>
              </svg>
            </li>

            <li class="breadcrumbs__item page-add-build__breadcrumbs-item">
              <button
                class="breadcrumbs__btn page-add-build__breadcrumbs-btn"
                type="button"
              >
                <span
                  class="
                    breadcrumbs__position-counter
                    page-add-build__position-counter
                  "
                  >3</span
                >

                <span class="breadcrumbs__btn-text inactive">Build parts</span>
              </button>

              <svg
                class="breadcrumbs__next-page-arrow-svg"
                width="8"
                height="8"
              >
                <use href="../../img/svg/sprite.svg#icon-down-arrow"></use>
              </svg>
            </li>

            <li class="breadcrumbs__item page-add-build__breadcrumbs-item">
              <button
                class="breadcrumbs__btn page-add-build__breadcrumbs-btn"
                type="button"
              >
                <span
                  class="
                    breadcrumbs__position-counter
                    page-add-build__position-counter
                  "
                  >4</span
                >

                <span class="breadcrumbs__btn-text inactive"
                  >Add pictures & description</span
                >
              </button>

              <svg
                class="breadcrumbs__next-page-arrow-svg"
                width="8"
                height="8"
              >
                <use href="../../img/svg/sprite.svg#icon-down-arrow"></use>
              </svg>
            </li>

            <li class="breadcrumbs__item page-add-build__breadcrumbs-item">
              <button
                class="breadcrumbs__btn page-add-build__breadcrumbs-btn"
                type="button"
              >
                <span
                  class="
                    breadcrumbs__position-counter
                    page-add-build__position-counter
                  "
                  >5</span
                >

                <span class="breadcrumbs__btn-text inactive"
                  >Save & publish</span
                >
              </button>
            </li>
          </ul>

          <section class="main-features page-add-build__subsection">
            <div class="page-add-build__container">
              <form class="page-add-build__form" data-pageaddbuild-form>
                <div class="form-group page-add-build__form-group">
                  <h2 class="section-title page-add-build__subtitle">
                    Main features
                  </h2>

                  <label class="page-add-build__label">
                    <span class="page-add-build__label-text">Build name</span>

                    <input
                      class="page-add-build__input"
                      name="add-build__name"
                      type="text"
                      value="New Budget rifles from armalite"
                      disabled
                      minlength="3"
                      maxlength="100"
                    />
                  </label>
                </div>

                <div class="form-group page-add-build__form-group">
                  <h3 class="page-add-build__label-radio-group">
                    <span class="page-add-build__label-text">Build type</span>
                  </h3>

                  <ul class="page-add-build__type-list">
                    <li class="page-add-build__type-item">
                      <label class="page-add-build__label-radio option-one">
                        <input
                          class="page-add-build__input-radio"
                          name="add-build-type"
                          type="radio"
                          value="rifle"
                        />

                        <p class="page-add-build__label-radio-text">Rifle</p>
                      </label>
                    </li>

                    <li class="page-add-build__type-item">
                      <label class="page-add-build__label-radio option-two">
                        <input
                          class="page-add-build__input-radio"
                          name="add-build-type"
                          type="radio"
                          value="shotgun"
                        />

                        <p class="page-add-build__label-radio-text">Shotgun</p>
                      </label>
                    </li>

                    <li class="page-add-build__type-item">
                      <label class="page-add-build__label-radio option-three">
                        <input
                          class="page-add-build__input-radio"
                          name="add-build-type"
                          type="radio"
                          value="handgun"
                        />

                        <p class="page-add-build__label-radio-text">Handgun</p>
                      </label>
                    </li>
                  </ul>

                  <p
                    data-choose-type-empty
                    class="page-add-build__type-error-text is-hidden"
                  >
                    Please select a build type
                  </p>
                </div>

                <div class="form-group page-add-build__form-group">
                  <h2 class="section-title page-add-build__subtitle">
                    Build options
                  </h2>

                  <h3 class="page-add-build__label-radio-group">
                    Choose build base
                  </h3>

                  <ul
                    class="page-add-build__build-base-list"
                    data-dropdown-list
                  >
                    <li class="page-add-build__build-base-item">
                      <button
                        class="page-add-build__drop-btn"
                        data-dropdown-open
                        type="button"
                        value="make"
                      >
                        Make
                      </button>
                      <div
                        class="page-add-build__dropdown-content is-hidden"
                        data-dropdown-menu-make
                      >
                        <label class="page-add-build__label-input-filter">
                          <input
                            class="page-add-build__input-filter"
                            name="page-add-build__input-filter"
                            type="text"
                            placeholder="Search"
                          />
                        </label>
                        <ul class="page-add-build__dropdown-options-list">
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Adirondack leather products
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced armament
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced technology
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Adirondack leather products
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced armament
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced technology
                            </p>
                          </li>
                        </ul>
                      </div>
                    </li>

                    <li class="page-add-build__build-base-item">
                      <button
                        class="page-add-build__drop-btn"
                        data-dropdown-open
                        type="button"
                        value="model"
                      >
                        Model
                      </button>
                      <div
                        class="page-add-build__dropdown-content is-hidden"
                        data-dropdown-menu-model
                      >
                        <label class="page-add-build__label-input-filter">
                          <input
                            class="page-add-build__input-filter"
                            name="page-add-build__input-filter"
                            type="text"
                            placeholder="Search.."
                          />
                        </label>
                        <ul class="page-add-build__dropdown-options-list">
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Adirondack leather products
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced armament
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced technology
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Adirondack leather products
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced armament
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced technology
                            </p>
                          </li>
                        </ul>
                      </div>
                    </li>

                    <li class="page-add-build__build-base-item">
                      <button
                        class="page-add-build__drop-btn"
                        data-dropdown-open
                        type="button"
                        value="caliber"
                      >
                        Caliber
                      </button>
                      <div
                        class="page-add-build__dropdown-content"
                        data-dropdown-menu-caliber
                      >
                        <label class="page-add-build__label-input-filter">
                          <input
                            class="page-add-build__input-filter"
                            name="page-add-build__input-filter"
                            type="text"
                            placeholder="Search.."
                          />
                        </label>
                        <ul class="page-add-build__dropdown-options-list">
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Adirondack leather products
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced armament
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced technology
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Adirondack leather products
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced armament
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced technology
                            </p>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="form-group page-add-build__form-group">
                  <h2 class="section-title page-add-build__subtitle">
                    Build options
                  </h2>

                  <ul class="build__part-list page-add-build__part-list">
                    <li class="page-add-build__part-item">
                      <div class="build__part-list-link">
                        <div class="build__part-list-thumb">
                          <img
                            class="build__part-list-image"
                            src="../../img/photos/build-parts/build-part-001.jpg"
                            alt="Build part - optical sight"
                            width="80"
                            height="80"
                          />
                        </div>
                        <div
                          class="
                            build__part-list-meta
                            page-add-build__part-list-meta
                          "
                        >
                          <ul
                            class="
                              rating__list
                              build__rating build__part-list-rating
                            "
                          >
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-filled"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-filled"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-outline"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-outline"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-outline"
                                ></use>
                              </svg>
                            </li>
                          </ul>
                          <h4 class="build__part-list-name">RMR RM06</h4>
                          <p class="build__part-list-type">BCU</p>
                        </div>

                        <div
                          class="
                            profile-friends__toolbar-overlay
                            page-add-build__toolbar-overlay
                          "
                        >
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                              page-add-build__toolbar-remove-part-btn
                            "
                            type="button"
                          >
                            <svg
                              class="profile-builds__toolbar-icon svg"
                              width="19"
                              height="19"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </li>
                    <li class="page-add-build__part-item">
                      <div class="build__part-list-link">
                        <div class="build__part-list-thumb">
                          <img
                            class="build__part-list-image"
                            src="../../img/photos/build-parts/build-part-002.jpg"
                            alt="Build part - flashlight"
                            width="80"
                            height="80"
                          />
                        </div>
                        <div
                          class="
                            build__part-list-meta
                            page-add-build__part-list-meta
                          "
                        >
                          <ul
                            class="
                              rating__list
                              build__rating build__part-list-rating
                            "
                          >
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-filled"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-filled"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-outline"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-outline"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-outline"
                                ></use>
                              </svg>
                            </li>
                          </ul>
                          <h4 class="build__part-list-name">X300U-A</h4>
                          <p class="build__part-list-type">LMC</p>
                        </div>

                        <div
                          class="
                            profile-friends__toolbar-overlay
                            page-add-build__toolbar-overlay
                          "
                        >
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                              page-add-build__toolbar-remove-part-btn
                            "
                            type="button"
                          >
                            <svg
                              class="profile-builds__toolbar-icon svg"
                              width="19"
                              height="19"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </li>
                    <li class="page-add-build__part-item">
                      <div class="build__part-list-link">
                        <div class="build__part-list-thumb">
                          <img
                            class="build__part-list-image"
                            src="../../img/photos/build-parts/build-part-003.jpg"
                            alt="Build part - Threaded barrel for glock 19.9 mm"
                            width="80"
                            height="80"
                          />
                        </div>
                        <div
                          class="
                            build__part-list-meta
                            page-add-build__part-list-meta
                          "
                        >
                          <ul
                            class="
                              rating__list
                              build__rating build__part-list-rating
                            "
                          >
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-filled"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-filled"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-outline"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-outline"
                                ></use>
                              </svg>
                            </li>
                            <li class="rating__item build__rating-item">
                              <svg
                                class="rating__svg build__rating-svg"
                                width="15"
                                height="15"
                              >
                                <use
                                  href="../../img/svg/sprite.svg#icon-star-outline"
                                ></use>
                              </svg>
                            </li>
                          </ul>
                          <h4 class="build__part-list-name">
                            Threaded barrel for glock 19.9 mm
                          </h4>
                          <p class="build__part-list-type">BCU</p>
                        </div>

                        <div
                          class="
                            profile-friends__toolbar-overlay
                            page-add-build__toolbar-overlay
                          "
                        >
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                              page-add-build__toolbar-remove-part-btn
                            "
                            type="button"
                          >
                            <svg
                              class="profile-builds__toolbar-icon svg"
                              width="19"
                              height="19"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <button
                    class="
                      comments__show-more-btn
                      profile__add-build-button
                      page-add-build__add-parts-btn
                    "
                    type="button"
                  >
                    <svg
                      class="profile__add-build-button-icon"
                      width="15"
                      height="15"
                    >
                      <use
                        href="../../img/svg/sprite.svg#icon-add-simple"
                      ></use>
                    </svg>

                    Add parts
                  </button>

                  <ul
                    class="
                      page-add-build__build-base-list
                      page-add-build__build-options-list
                    "
                    data-dropdown-list
                  >
                    <li class="page-add-build__build-base-item">
                      <button
                        class="page-add-build__drop-btn"
                        data-dropdown-open
                        type="button"
                        value="category"
                      >
                        Category
                      </button>
                      <div
                        class="page-add-build__dropdown-content is-hidden"
                        data-dropdown-menu-category
                      >
                        <label class="page-add-build__label-input-filter">
                          <input
                            class="page-add-build__input-filter"
                            name="page-add-build__input-filter"
                            type="text"
                            placeholder="Search"
                          />
                        </label>
                        <ul class="page-add-build__dropdown-options-list">
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Adirondack leather products
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced armament
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced technology
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Adirondack leather products
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced armament
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced technology
                            </p>
                          </li>
                        </ul>
                      </div>
                    </li>

                    <li class="page-add-build__build-base-item">
                      <button
                        class="page-add-build__drop-btn"
                        data-dropdown-open
                        type="button"
                        value="manufacturer"
                      >
                        Manufacturer
                      </button>
                      <div
                        class="page-add-build__dropdown-content is-hidden"
                        data-dropdown-menu-manufacturer
                      >
                        <label class="page-add-build__label-input-filter">
                          <input
                            class="page-add-build__input-filter"
                            name="page-add-build__input-filter"
                            type="text"
                            placeholder="Search.."
                          />
                        </label>
                        <ul class="page-add-build__dropdown-options-list">
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Adirondack leather products
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced armament
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced technology
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Adirondack leather products
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced armament
                            </p>
                          </li>
                          <li class="page-add-build__dropdown-options-item">
                            <p class="page-add-build__dropdown-option-text">
                              Advanced technology
                            </p>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="form-group page-add-build__form-group">
                  <h2 class="section-title page-add-build__subtitle">
                    Add pictures & description
                  </h2>

                  <ul
                    class="
                      build__part-list
                      page-add-build__part-list
                      page-add-build__add-pictures-list
                    "
                  >
                    <li
                      class="
                        page-add-build__part-item
                        page-add-build__add-pictures-item
                      "
                    >
                      <div class="build__part-list-link">
                        <div
                          class="
                            build__part-list-thumb
                            page-add-build__add-picture-thumb
                          "
                        >
                          <img
                            class="build__part-list-image page-add-build__image"
                            src="../../img/photos/page-add-build/add-build-001.jpg"
                            alt="Sniper rifle"
                            width="138"
                            height="138"
                          />
                        </div>

                        <div
                          class="
                            profile-friends__toolbar-overlay
                            page-add-build__toolbar-overlay
                          "
                        >
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                              page-add-build__toolbar-remove-part-btn
                            "
                            type="button"
                          >
                            <svg
                              class="profile-builds__toolbar-icon svg"
                              width="19"
                              height="19"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>

                          <button class="crop-btn" type="button">
                            <svg
                              class="profile-builds__toolbar-icon svg"
                              width="12"
                              height="12"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-crop"
                              ></use>
                            </svg>

                            <span
                              class="
                                page-add-build__toolbar-crop-image-btn-text
                              "
                              >Crop</span
                            >
                          </button>
                        </div>
                      </div>
                    </li>

                    <li
                      class="
                        page-add-build__part-item
                        page-add-build__add-pictures-item
                      "
                    >
                      <div class="build__part-list-link">
                        <div
                          class="
                            build__part-list-thumb
                            page-add-build__add-picture-thumb
                          "
                        >
                          <img
                            class="build__part-list-image page-add-build__image"
                            src="../../img/photos/page-add-build/add-build-002.jpg"
                            alt="Powerfull sniper rifle"
                            width="138"
                            height="138"
                          />
                        </div>

                        <div
                          class="
                            profile-friends__toolbar-overlay
                            page-add-build__toolbar-overlay
                          "
                        >
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                              page-add-build__toolbar-remove-part-btn
                            "
                            type="button"
                          >
                            <svg
                              class="profile-builds__toolbar-icon svg"
                              width="19"
                              height="19"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>

                          <button class="crop-btn" type="button">
                            <svg
                              class="profile-builds__toolbar-icon svg"
                              width="12"
                              height="12"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-crop"
                              ></use>
                            </svg>

                            <span
                              class="
                                page-add-build__toolbar-crop-image-btn-text
                              "
                              >Crop</span
                            >
                          </button>
                        </div>
                      </div>
                    </li>

                    <li
                      class="
                        page-add-build__part-item
                        page-add-build__add-pictures-item
                      "
                    >
                      <div class="build__part-list-link">
                        <div
                          class="
                            build__part-list-thumb
                            page-add-build__add-picture-thumb
                          "
                        >
                          <img
                            class="build__part-list-image page-add-build__image"
                            src="../../img/photos/page-add-build/add-build-003.jpg"
                            alt="Mechanical manual shutter of a powerful sniper rifle close-up"
                            width="138"
                            height="138"
                          />
                        </div>

                        <div
                          class="
                            profile-friends__toolbar-overlay
                            page-add-build__toolbar-overlay
                          "
                        >
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                              page-add-build__toolbar-remove-part-btn
                            "
                            type="button"
                          >
                            <svg
                              class="profile-builds__toolbar-icon svg"
                              width="19"
                              height="19"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>

                          <button class="crop-btn" type="button">
                            <svg
                              class="profile-builds__toolbar-icon svg"
                              width="12"
                              height="12"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-crop"
                              ></use>
                            </svg>

                            <span
                              class="
                                page-add-build__toolbar-crop-image-btn-text
                              "
                              >Crop</span
                            >
                          </button>
                        </div>
                      </div>
                    </li>

                    <li
                      class="
                        page-add-build__part-item
                        page-add-build__add-pictures-item
                      "
                    >
                      <div class="build__part-list-link">
                        <div
                          class="
                            build__part-list-thumb
                            page-add-build__add-picture-thumb
                          "
                        >
                          <img
                            class="build__part-list-image page-add-build__image"
                            src="../../img/photos/page-add-build/add-build-003.jpg"
                            alt="Whitened image of rifle on a tripod in an open air shooting range"
                            width="138"
                            height="138"
                          />

                          <div class="page-add-build__loader-overlay">
                            <svg
                              width="40"
                              height="41"
                              class="page-add-build__loader-icon svg"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-preloader"
                              ></use>
                            </svg>
                          </div>
                        </div>

                        <div
                          class="
                            profile-friends__toolbar-overlay
                            page-add-build__toolbar-overlay
                          "
                        >
                          <button
                            class="
                              profile-friends__toolbar-remove-friend-btn
                              profile-builds__toolbar-btn
                              page-add-build__toolbar-remove-part-btn
                            "
                            type="button"
                          >
                            <svg
                              class="profile-builds__toolbar-icon svg"
                              width="19"
                              height="19"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-delete"
                              ></use>
                            </svg>
                          </button>

                          <button class="crop-btn is-hidden" type="button">
                            <svg
                              class="profile-builds__toolbar-icon svg"
                              width="12"
                              height="12"
                            >
                              <use
                                href="../../img/svg/sprite.svg#icon-crop"
                              ></use>
                            </svg>

                            <span
                              class="
                                page-add-build__toolbar-crop-image-btn-text
                              "
                              >Crop</span
                            >
                          </button>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <button
                    class="
                      comments__show-more-btn
                      profile__add-build-button
                      page-add-build__add-parts-btn
                      page-add-build__add-pictures-btn
                    "
                    type="button"
                  >
                    <svg
                      class="profile__add-build-button-icon"
                      width="15"
                      height="15"
                    >
                      <use
                        href="../../img/svg/sprite.svg#icon-add-simple"
                      ></use>
                    </svg>

                    Add pictures
                  </button>

                  <p class="page-add-build__add-pictures-text">
                    Select one or more files from your computer
                  </p>
                </div>

                <button
                  class="btn--primary page-add-build__add-build-submit-btn"
                  type="submit"
                >
                  Save & Publish
                </button>
              </form>
            </div>
          </section>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%= _.template(require('./../includes/footer.html').default)(data) %>
  </body>
</html>
